In [1]:
import pandas as pd
import numpy as np
import csv

from sqlalchemy import create_engine

In [2]:
import os
import json
from config import password

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

app.config["SQLALCHEMY_DATABASE_URI"] = "postgresql+psycopg2://postgres:{password}@localhost:5432/crime_db"
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(app)
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# prepare to load the entire chicago table into a dataframe
Chicago_Metadata = Base.classes.chicago
stmt = db.session.query(Chicago_Metadata).statement
df = pd.read_sql_query(stmt, db.session.bind)
print("Loaded dataframe successfully...")

# Filter dataframe by certain crime types
crime_types = ['THEFT', 'BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT', 
    'MOTOR VEHICLE THEFT', 'ROBBERY', 'WEAPONS VIOLATION', 'CONCEALED CARRY LICENSE VIOLATION', 'HOMICIDE', 'ARSON']
filtered_df = df[df.Primary_Type.isin(crime_types)]

Loaded dataframe successfully...

In [3]:
len(filtered_df)

2199538

In [4]:
# Check date range
least_recent_date = filtered_df['Date'].min()
recent_date = filtered_df['Date'].max()
print(f'Start date: {least_recent_date} and Recent date: {recent_date}')

Start date: 2010-01-01 00:01:00 and Recent date: 2019-09-10 23:55:00

In [5]:
#start date 2012
start_date = '2012-01-01 00:01:00'
end_date = '2012-12-31 23:59:00'
mask = (filtered_df['Date'] > start_date) & (filtered_df['Date'] <= end_date)
filtered_crime_df_2012 = filtered_df.loc[mask]
filtered_crime_df_2012.head()

,index,ID,Date,Primary_Type,Description,Location_Description,Arrest,District,Year,Latitude,Longitude,Historical_Wards,Zip_Codes,Police_Districts
1812016,1831759,8950624,2012-12-31 18:00:00,BATTERY,SIMPLE,SIDEWALK,False,015,2012,41.880994,-87.764883,52,22216,25
1812344,1831760,8951620,2012-12-31 18:00:00,THEFT,OVER $500,STREET,False,007,2012,41.779486,-87.663496,19,22257,17
1812356,1831539,8954299,2012-12-31 23:55:00,THEFT,FROM BUILDING,HOSPITAL BUILDING/GROUNDS,False,002,2012,41.788699,-87.604954,32,22260,24
1812357,1831540,8951459,2012-12-31 23:50:00,THEFT,FROM BUILDING,RESIDENCE,False,019,2012,41.933894,-87.649053,38,4449,5
1812358,1831541,8951016,2012-12-31 23:45:00,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,014,2012,41.929360,-87.697544,15,22535,7

In [6]:
len(filtered_crime_df_2012)

260534

In [7]:
filtered_crime_df_2012.shape

(260534, 14)

In [8]:
crime_type = ['HOMICIDE']
homicide_df_2012 = filtered_crime_df_2012[filtered_crime_df_2012.Primary_Type.isin(crime_type)]

In [9]:
len(homicide_df_2012)

515

In [10]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint
coords = homicide_df_2012.as_matrix(columns=['Latitude', 'Longitude'])

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """

In [11]:
kms_per_radian = 6371.0088
epsilon = 1.5 / kms_per_radian
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 26

In [12]:
def get_centermost_point(cluster):
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return tuple(centermost_point)
centermost_points = clusters.map(get_centermost_point)

In [13]:
lats, lons = zip(*centermost_points)
homicide_rep_points_2012 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
homicide_rep_points_2012['Crime_type'] = 'HOMICIDE'
homicide_rep_points_2012['Year'] = '2012'

In [14]:
homicide_rep_points_2012

    Longitude   Latitude Crime_type  Year
0  -87.725662  41.880434   HOMICIDE  2012
1  -87.727949  41.939996   HOMICIDE  2012
2  -87.632280  41.767796   HOMICIDE  2012
3  -87.632577  41.687867   HOMICIDE  2012
4  -87.691065  41.996422   HOMICIDE  2012
5  -87.774229  41.868230   HOMICIDE  2012
6  -87.659854  41.975813   HOMICIDE  2012
7  -87.792646  41.979523   HOMICIDE  2012
8  -87.705260  41.968480   HOMICIDE  2012
9  -87.841542  41.976282   HOMICIDE  2012
10 -87.627167  41.856218   HOMICIDE  2012
11 -87.748132  41.810715   HOMICIDE  2012
12 -87.786926  41.931469   HOMICIDE  2012
13 -87.676139  42.022548   HOMICIDE  2012
14 -87.636368  41.896565   HOMICIDE  2012
15 -87.731358  41.741271   HOMICIDE  2012
16 -87.656961  41.704262   HOMICIDE  2012
17 -87.750936  41.949722   HOMICIDE  2012
18 -87.610648  41.658679   HOMICIDE  2012
19 -87.668868  41.947446   HOMICIDE  2012
20 -87.682318  41.729192   HOMICIDE  2012
21 -87.555631  41.660206   HOMICIDE  2012
22 -87.794445  41.949383   HOMICIDE  2012
23 -87.646667  41.948707   HOMICIDE  2012
24 -87.663445  41.912456   HOMICIDE  2012
25 -87.729323  41.778578   HOMICIDE  2012

In [15]:
crime_type = ['ARSON']
arson_df_2012 = filtered_crime_df_2012[filtered_crime_df_2012.Primary_Type.isin(crime_type)]
len(arson_df_2012)

NameError: name 'arson_df_2011' is not defined

In [16]:
coords = arson_df_2012.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 24

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [17]:
centermost_points = clusters.map(get_centermost_point)

In [18]:
lats, lons = zip(*centermost_points)
arson_rep_points_2012 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
arson_rep_points_2012['Crime_type'] = 'ARSON'
arson_rep_points_2012['Year'] = '2012'

In [19]:
arson_rep_points_2012

    Longitude   Latitude Crime_type  Year
0  -87.680393  42.005690      ARSON  2012
1  -87.644127  41.753819      ARSON  2012
2  -87.729908  41.899806      ARSON  2012
3  -87.654668  41.958897      ARSON  2012
4  -87.725231  41.739453      ARSON  2012
5  -87.726392  41.992564      ARSON  2012
6  -87.689861  41.827873      ARSON  2012
7  -87.541345  41.700480      ARSON  2012
8  -87.809515  41.947853      ARSON  2012
9  -87.791035  41.778529      ARSON  2012
10 -87.727309  41.971894      ARSON  2012
11 -87.602332  41.656527      ARSON  2012
12 -87.801402  41.923549      ARSON  2012
13 -87.762275  41.791902      ARSON  2012
14 -87.798415  41.991981      ARSON  2012
15 -87.637536  41.908126      ARSON  2012
16 -87.687553  41.712707      ARSON  2012
17 -87.677357  41.954175      ARSON  2012
18 -87.686352  41.978649      ARSON  2012
19 -87.830671  41.942602      ARSON  2012
20 -87.635306  41.837566      ARSON  2012
21 -87.640816  41.852750      ARSON  2012
22 -87.661778  41.733322      ARSON  2012
23 -87.767181  41.979974      ARSON  2012

In [20]:
crime_type = ['NARCOTICS']
narcotics_df_2012 = filtered_crime_df_2012[filtered_crime_df_2012.Primary_Type.isin(crime_type)]
len(narcotics_df_2012)

35471

In [21]:
coords = narcotics_df_2012.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 6

In [22]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
narcotics_rep_points_2012 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
narcotics_rep_points_2012['Crime_type'] = 'NARCOTICS'
narcotics_rep_points_2012['Year'] = '2012'
narcotics_rep_points_2012

   Longitude   Latitude Crime_type  Year
0 -87.680301  41.834908  NARCOTICS  2012
1 -87.900984  41.976763  NARCOTICS  2012
2 -87.907473  41.953900  NARCOTICS  2012
3 -87.545919  41.652683  NARCOTICS  2012
4 -91.686566  36.619446  NARCOTICS  2012
5 -87.884294  41.957432  NARCOTICS  2012

In [23]:
crime_type = ['THEFT']
theft_df_2012 = filtered_crime_df_2012[filtered_crime_df_2012.Primary_Type.isin(crime_type)]
len(theft_df_2012)

75356

In [24]:
coords = theft_df_2012.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 3

In [25]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
theft_rep_points_2012 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
theft_rep_points_2012['Crime_type'] = 'THEFT'
theft_rep_points_2012['Year'] = '2012'
theft_rep_points_2012

   Longitude   Latitude Crime_type  Year
0 -87.667640  41.855944      THEFT  2012
1 -87.903639  41.978466      THEFT  2012
2 -91.686566  36.619446      THEFT  2012

In [26]:
crime_type = ['BATTERY']
battery_df_2012 = filtered_crime_df_2012[filtered_crime_df_2012.Primary_Type.isin(crime_type)]
len(battery_df_2012)

59119

In [27]:
coords = battery_df_2012.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 6

In [28]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
battery_rep_points_2012 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
battery_rep_points_2012['Crime_type'] = 'BATTERY'
battery_rep_points_2012['Year'] = '2012'
battery_rep_points_2012

   Longitude   Latitude Crime_type  Year
0 -87.670455  41.832870    BATTERY  2012
1 -87.899846  41.977557    BATTERY  2012
2 -87.914585  41.960790    BATTERY  2012
3 -87.925509  41.989622    BATTERY  2012
4 -91.686566  36.619446    BATTERY  2012
5 -87.884291  41.957429    BATTERY  2012

In [29]:
crime_type = ['ROBBERY']
robbery_df_2012 = filtered_crime_df_2012[filtered_crime_df_2012.Primary_Type.isin(crime_type)]
len(robbery_df_2012)

13482

In [30]:
coords = robbery_df_2012.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 5

In [31]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
robbery_rep_points_2012 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
robbery_rep_points_2012['Crime_type'] = 'ROBBERY'
robbery_rep_points_2012['Year'] = '2012'
robbery_rep_points_2012

   Longitude   Latitude Crime_type  Year
0 -87.664616  41.830514    ROBBERY  2012
1 -87.547154  41.652832    ROBBERY  2012
2 -87.901783  41.977139    ROBBERY  2012
3 -87.839118  41.975863    ROBBERY  2012
4 -91.686566  36.619446    ROBBERY  2012

In [32]:
crime_type = ['ASSAULT']
assault_df_2012 = filtered_crime_df_2012[filtered_crime_df_2012.Primary_Type.isin(crime_type)]
len(assault_df_2012)

19896

In [33]:
coords = assault_df_2012.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 7

In [34]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
assault_rep_points_2012 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
assault_rep_points_2012['Crime_type'] = 'ASSAULT'
assault_rep_points_2012['Year'] = '2012'
assault_rep_points_2012

   Longitude   Latitude Crime_type  Year
0 -87.666667  41.827683    ASSAULT  2012
1 -87.900984  41.976763    ASSAULT  2012
2 -91.686566  36.619446    ASSAULT  2012
3 -87.893399  41.950804    ASSAULT  2012
4 -87.925509  41.989622    ASSAULT  2012
5 -87.907073  42.008849    ASSAULT  2012
6 -87.915105  41.953783    ASSAULT  2012

In [35]:
crime_type = ['MOTOR VEHICLE THEFT']
mvt_df_2012 = filtered_crime_df_2012[filtered_crime_df_2012.Primary_Type.isin(crime_type)]
len(mvt_df_2012)

16488

In [36]:
coords = mvt_df_2012.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 7

In [37]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
mvt_rep_points_2012 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
mvt_rep_points_2012['Crime_type'] = 'MOTOR VEHICLE THEFT'
mvt_rep_points_2012['Year'] = '2012'
mvt_rep_points_2012

   Longitude   Latitude           Crime_type  Year
0 -87.680639  41.848255  MOTOR VEHICLE THEFT  2012
1 -87.906463  41.979006  MOTOR VEHICLE THEFT  2012
2 -87.548370  41.656358  MOTOR VEHICLE THEFT  2012
3 -87.882404  41.983031  MOTOR VEHICLE THEFT  2012
4 -91.686566  36.619446  MOTOR VEHICLE THEFT  2012
5 -87.882620  41.960718  MOTOR VEHICLE THEFT  2012
6 -87.925509  41.989622  MOTOR VEHICLE THEFT  2012

In [38]:
total_cluster_df_2012 = pd.concat([homicide_rep_points_2012, arson_rep_points_2012, narcotics_rep_points_2012, theft_rep_points_2012, battery_rep_points_2012,
                     robbery_rep_points_2012, assault_rep_points_2012, mvt_rep_points_2012], ignore_index=True)

In [39]:
total_cluster_df_2012

    Longitude   Latitude           Crime_type  Year
0  -87.725662  41.880434             HOMICIDE  2012
1  -87.727949  41.939996             HOMICIDE  2012
2  -87.632280  41.767796             HOMICIDE  2012
3  -87.632577  41.687867             HOMICIDE  2012
4  -87.691065  41.996422             HOMICIDE  2012
5  -87.774229  41.868230             HOMICIDE  2012
6  -87.659854  41.975813             HOMICIDE  2012
7  -87.792646  41.979523             HOMICIDE  2012
8  -87.705260  41.968480             HOMICIDE  2012
9  -87.841542  41.976282             HOMICIDE  2012
10 -87.627167  41.856218             HOMICIDE  2012
11 -87.748132  41.810715             HOMICIDE  2012
12 -87.786926  41.931469             HOMICIDE  2012
13 -87.676139  42.022548             HOMICIDE  2012
14 -87.636368  41.896565             HOMICIDE  2012
15 -87.731358  41.741271             HOMICIDE  2012
16 -87.656961  41.704262             HOMICIDE  2012
17 -87.750936  41.949722             HOMICIDE  2012
18 -87.610648  41.658679             HOMICIDE  2012
19 -87.668868  41.947446             HOMICIDE  2012
20 -87.682318  41.729192             HOMICIDE  2012
21 -87.555631  41.660206             HOMICIDE  2012
22 -87.794445  41.949383             HOMICIDE  2012
23 -87.646667  41.948707             HOMICIDE  2012
24 -87.663445  41.912456             HOMICIDE  2012
25 -87.729323  41.778578             HOMICIDE  2012
26 -87.680393  42.005690                ARSON  2012
27 -87.644127  41.753819                ARSON  2012
28 -87.729908  41.899806                ARSON  2012
29 -87.654668  41.958897                ARSON  2012
..        ...        ...                  ...   ...
54 -91.686566  36.619446            NARCOTICS  2012
55 -87.884294  41.957432            NARCOTICS  2012
56 -87.667640  41.855944                THEFT  2012
57 -87.903639  41.978466                THEFT  2012
58 -91.686566  36.619446                THEFT  2012
59 -87.670455  41.832870              BATTERY  2012
60 -87.899846  41.977557              BATTERY  2012
61 -87.914585  41.960790              BATTERY  2012
62 -87.925509  41.989622              BATTERY  2012
63 -91.686566  36.619446              BATTERY  2012
64 -87.884291  41.957429              BATTERY  2012
65 -87.664616  41.830514              ROBBERY  2012
66 -87.547154  41.652832              ROBBERY  2012
67 -87.901783  41.977139              ROBBERY  2012
68 -87.839118  41.975863              ROBBERY  2012
69 -91.686566  36.619446              ROBBERY  2012
70 -87.666667  41.827683              ASSAULT  2012
71 -87.900984  41.976763              ASSAULT  2012
72 -91.686566  36.619446              ASSAULT  2012
73 -87.893399  41.950804              ASSAULT  2012
74 -87.925509  41.989622              ASSAULT  2012
75 -87.907073  42.008849              ASSAULT  2012
76 -87.915105  41.953783              ASSAULT  2012
77 -87.680639  41.848255  MOTOR VEHICLE THEFT  2012
78 -87.906463  41.979006  MOTOR VEHICLE THEFT  2012
79 -87.548370  41.656358  MOTOR VEHICLE THEFT  2012
80 -87.882404  41.983031  MOTOR VEHICLE THEFT  2012
81 -91.686566  36.619446  MOTOR VEHICLE THEFT  2012
82 -87.882620  41.960718  MOTOR VEHICLE THEFT  2012
83 -87.925509  41.989622  MOTOR VEHICLE THEFT  2012

[84 rows x 4 columns]

In [40]:
#save CSV
total_cluster_df_2012.to_csv("assets/data/clusters2012.csv", encoding="utf-8")