In [1]:
import pandas as pd
import numpy as np
import csv

from sqlalchemy import create_engine

#import config
password="Mojave123"

In [2]:
# Unique types of crime
types = filtered_crime_df['Primary_Type'].unique()
print(types)
print(len(types))

NameError: name 'filtered_crime_df' is not defined

In [ ]:
# Connect to Postgres database 
engine = create_engine(f'postgresql://postgres:{config.password}@localhost:5432/crime_db')

In [79]:
import os
import json
from config import password

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

app.config["SQLALCHEMY_DATABASE_URI"] = "postgresql+psycopg2://postgres:"+password+"@localhost:5432/crime_db"
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(app)
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# prepare to load the entire chicago table into a dataframe
Chicago_Metadata = Base.classes.chicago
stmt = db.session.query(Chicago_Metadata).statement
df = pd.read_sql_query(stmt, db.session.bind)
print("Loaded dataframe successfully...")

# Filter dataframe by certain crime types
crime_types = ['THEFT', 'BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT', 
    'MOTOR VEHICLE THEFT', 'ROBBERY', 'WEAPONS VIOLATION', 'CONCEALED CARRY LICENSE VIOLATION', 'HOMICIDE', 'ARSON']
filtered_df = df[df.Primary_Type.isin(crime_types)]

Loaded dataframe successfully...

In [80]:
len(filtered_df)

2199538

In [81]:
start_date = '2017-01-01 00:00:00'
end_date = '2019-09-10 23:55:00'
mask = (filtered_df['Date'] > start_date) & (filtered_df['Date'] <= end_date)
filtered_crime_df = filtered_df.loc[mask]
filtered_crime_df.head()

,index,ID,Date,Primary_Type,Description,Location_Description,Arrest,District,Year,Latitude,Longitude,Historical_Wards,Zip_Codes,Police_Districts
0,0,11824091,2019-09-10 23:55:00,WEAPONS VIOLATION,UNLAWFUL USE HANDGUN,RESIDENCE PORCH/HALLWAY,False,007,2019,41.775402,-87.653178,17,21559,17
2,2,11824121,2019-09-10 23:50:00,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,015,2019,41.880829,-87.752634,11,22216,25
3,3,11824152,2019-09-10 23:47:00,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,006,2019,41.751657,-87.650131,17,21554,20
4,5,11824113,2019-09-10 23:42:00,ASSAULT,SIMPLE,SIDEWALK,False,015,2019,41.899880,-87.748366,4,4299,25
7,8,11824122,2019-09-10 23:33:00,BATTERY,DOMESTIC BATTERY SIMPLE,ALLEY,True,025,2019,41.919319,-87.758462,4,22615,6

In [82]:
filtered_crime_df.shape

(539377, 14)

In [83]:
crime_type = ['HOMICIDE']
homicide_df = filtered_crime_df[filtered_crime_df.Primary_Type.isin(crime_type)]

In [84]:
len(homicide_df)

1620

In [85]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint
coords = homicide_df.as_matrix(columns=['Latitude', 'Longitude'])

C:\Users\jcgra\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """

In [86]:
kms_per_radian = 6371.0088
epsilon = 1.5 / kms_per_radian
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 17

In [87]:
def get_centermost_point(cluster):
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return tuple(centermost_point)
centermost_points = clusters.map(get_centermost_point)

In [89]:
lats, lons = zip(*centermost_points)
homicide_rep_points = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
homicide_rep_points['Crime_type'] = 'HOMICIDE'

In [90]:
homicide_rep_points

    Longitude   Latitude Crime_type
0  -87.673449  41.807527   HOMICIDE
1  -87.673828  42.012650   HOMICIDE
2  -87.640921  41.929727   HOMICIDE
3  -87.706150  41.972565   HOMICIDE
4  -87.773112  41.777831   HOMICIDE
5  -87.657908  41.966082   HOMICIDE
6  -87.710824  41.698002   HOMICIDE
7  -87.761196  41.975185   HOMICIDE
8  -87.805722  41.930761   HOMICIDE
9  -87.655164  41.982819   HOMICIDE
10 -87.527258  41.651431   HOMICIDE
11 -87.681719  41.946823   HOMICIDE
12 -87.836624  41.975978   HOMICIDE
13 -87.748224  41.957974   HOMICIDE
14 -87.559299  41.653062   HOMICIDE
15 -87.794069  41.773809   HOMICIDE
16 -87.796655  41.972530   HOMICIDE

In [91]:
crime_type = ['ARSON']
arson_df = filtered_crime_df[filtered_crime_df.Primary_Type.isin(crime_type)]
len(arson_df)

1072

In [92]:
coords = arson_df.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 16

C:\Users\jcgra\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [93]:
centermost_points = clusters.map(get_centermost_point)

In [94]:
lats, lons = zip(*centermost_points)
arson_rep_points = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
arson_rep_points['Crime_type'] = 'ARSON'

In [95]:
arson_rep_points

    Longitude   Latitude Crime_type
0  -87.681461  41.833056      ARSON
1  -87.537702  41.696569      ARSON
2  -87.682103  41.722185      ARSON
3  -87.602332  41.656851      ARSON
4  -87.822737  41.976859      ARSON
5  -87.846467  41.977609      ARSON
6  -87.608203  41.818575      ARSON
7  -87.547159  41.650911      ARSON
8  -87.817494  41.999958      ARSON
9  -87.698244  42.018451      ARSON
10 -87.748336  41.994020      ARSON
11 -87.741529  41.754593      ARSON
12 -87.870236  41.974020      ARSON
13 -87.707941  41.685708      ARSON
14 -87.576634  41.695482      ARSON
15 -87.588742  41.799545      ARSON

In [96]:
crime_type = ['NARCOTICS']
narcotics_df = filtered_crime_df[filtered_crime_df.Primary_Type.isin(crime_type)]
len(narcotics_df)

34041

In [97]:
coords = narcotics_df.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\jcgra\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 5

In [98]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
narcotics_rep_points = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
narcotics_rep_points['Crime_type'] = 'NARCOTICS'
narcotics_rep_points

   Longitude   Latitude Crime_type
0 -87.690896  41.844748  NARCOTICS
1 -87.542304  41.653215  NARCOTICS
2 -87.903496  41.977791  NARCOTICS
3 -87.907473  41.953900  NARCOTICS
4 -87.927365  42.006074  NARCOTICS

In [99]:
crime_type = ['THEFT']
theft_df = filtered_crime_df[filtered_crime_df.Primary_Type.isin(crime_type)]
len(theft_df)

169667

In [100]:
coords = theft_df.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\jcgra\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 3

In [101]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
theft_rep_points = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
theft_rep_points['Crime_type'] = 'THEFT'
theft_rep_points

   Longitude   Latitude Crime_type
0 -87.663879  41.862102      THEFT
1 -87.903496  41.977791      THEFT
2 -87.934273  42.008162      THEFT

In [102]:
crime_type = ['BATTERY']
battery_df = filtered_crime_df[filtered_crime_df.Primary_Type.isin(crime_type)]
len(battery_df)

133951

In [103]:
coords = battery_df.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\jcgra\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 4

In [105]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
battery_rep_points = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
battery_rep_points['Crime_type'] = 'BATTERY'
battery_rep_points

   Longitude   Latitude Crime_type
0 -87.668037  41.833912    BATTERY
1 -87.900520  41.976800    BATTERY
2 -91.686566  36.619446    BATTERY
3 -87.915105  41.953783    BATTERY

In [106]:
crime_type = ['ROBBERY']
robbery_df = filtered_crime_df[filtered_crime_df.Primary_Type.isin(crime_type)]
len(robbery_df)

27006

In [107]:
coords = robbery_df.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\jcgra\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 4

In [108]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
robbery_rep_points = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
robbery_rep_points['Crime_type'] = 'ROBBERY'
robbery_rep_points

   Longitude   Latitude Crime_type
0 -87.665779  41.838968    ROBBERY
1 -87.786738  42.011481    ROBBERY
2 -87.903899  41.980783    ROBBERY
3 -87.914031  41.963529    ROBBERY

In [110]:
crime_type = ['ASSAULT']
assault_df = filtered_crime_df[filtered_crime_df.Primary_Type.isin(crime_type)]
len(assault_df)

54181

In [111]:
coords = assault_df.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\jcgra\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 4

In [112]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
assault_rep_points = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
assault_rep_points['Crime_type'] = 'ASSAULT'
assault_rep_points

   Longitude   Latitude Crime_type
0 -87.667093  41.830485    ASSAULT
1 -87.901783  41.977139    ASSAULT
2 -87.927365  42.006074    ASSAULT
3 -87.899009  42.005441    ASSAULT

In [113]:
crime_type = ['MOTOR VEHICLE THEFT']
mvt_df = filtered_crime_df[filtered_crime_df.Primary_Type.isin(crime_type)]
len(mvt_df)

27593

In [114]:
coords = mvt_df.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\jcgra\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 2

In [115]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
mvt_rep_points = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
mvt_rep_points['Crime_type'] = 'MOTOR VEHICLE THEFT'
mvt_rep_points

   Longitude   Latitude           Crime_type
0 -87.678732  41.847396  MOTOR VEHICLE THEFT
1 -87.914870  41.994301  MOTOR VEHICLE THEFT

In [124]:
total_cluster_df = pd.concat([homicide_rep_points, arson_rep_points, narcotics_rep_points, theft_rep_points, battery_rep_points,
                     robbery_rep_points, assault_rep_points, mvt_rep_points], ignore_index=True)

In [125]:
total_cluster_df

    Longitude   Latitude           Crime_type
0  -87.673449  41.807527             HOMICIDE
1  -87.673828  42.012650             HOMICIDE
2  -87.640921  41.929727             HOMICIDE
3  -87.706150  41.972565             HOMICIDE
4  -87.773112  41.777831             HOMICIDE
5  -87.657908  41.966082             HOMICIDE
6  -87.710824  41.698002             HOMICIDE
7  -87.761196  41.975185             HOMICIDE
8  -87.805722  41.930761             HOMICIDE
9  -87.655164  41.982819             HOMICIDE
10 -87.527258  41.651431             HOMICIDE
11 -87.681719  41.946823             HOMICIDE
12 -87.836624  41.975978             HOMICIDE
13 -87.748224  41.957974             HOMICIDE
14 -87.559299  41.653062             HOMICIDE
15 -87.794069  41.773809             HOMICIDE
16 -87.796655  41.972530             HOMICIDE
17 -87.681461  41.833056                ARSON
18 -87.537702  41.696569                ARSON
19 -87.682103  41.722185                ARSON
20 -87.602332  41.656851                ARSON
21 -87.822737  41.976859                ARSON
22 -87.846467  41.977609                ARSON
23 -87.608203  41.818575                ARSON
24 -87.547159  41.650911                ARSON
25 -87.817494  41.999958                ARSON
26 -87.698244  42.018451                ARSON
27 -87.748336  41.994020                ARSON
28 -87.741529  41.754593                ARSON
29 -87.870236  41.974020                ARSON
30 -87.707941  41.685708                ARSON
31 -87.576634  41.695482                ARSON
32 -87.588742  41.799545                ARSON
33 -87.690896  41.844748            NARCOTICS
34 -87.542304  41.653215            NARCOTICS
35 -87.903496  41.977791            NARCOTICS
36 -87.907473  41.953900            NARCOTICS
37 -87.927365  42.006074            NARCOTICS
38 -87.663879  41.862102                THEFT
39 -87.903496  41.977791                THEFT
40 -87.934273  42.008162                THEFT
41 -87.668037  41.833912              BATTERY
42 -87.900520  41.976800              BATTERY
43 -91.686566  36.619446              BATTERY
44 -87.915105  41.953783              BATTERY
45 -87.665779  41.838968              ROBBERY
46 -87.786738  42.011481              ROBBERY
47 -87.903899  41.980783              ROBBERY
48 -87.914031  41.963529              ROBBERY
49 -87.667093  41.830485              ASSAULT
50 -87.901783  41.977139              ASSAULT
51 -87.927365  42.006074              ASSAULT
52 -87.899009  42.005441              ASSAULT
53 -87.678732  41.847396  MOTOR VEHICLE THEFT
54 -87.914870  41.994301  MOTOR VEHICLE THEFT

In [123]:
# Connect to Postgres database 
engine = create_engine(f'postgresql://postgres:Mojave123@localhost:5432/crime_db')

In [127]:
# Save dataframe into the table
total_cluster_df.to_sql('chicago_clusters', engine)

In [131]:
with engine.connect() as con:
    con.execute('ALTER TABLE chicago_clusters ADD PRIMARY KEY ("index");')