In [8]:
import pandas as pd
import numpy as np
import csv

from sqlalchemy import create_engine

In [9]:
import os
import json
from config import password

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

app.config["SQLALCHEMY_DATABASE_URI"] = "postgresql+psycopg2://postgres:{password}@localhost:5432/crime_db"
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(app)
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# prepare to load the entire chicago table into a dataframe
Chicago_Metadata = Base.classes.chicago
stmt = db.session.query(Chicago_Metadata).statement
df = pd.read_sql_query(stmt, db.session.bind)
print("Loaded dataframe successfully...")

# Filter dataframe by certain crime types
crime_types = ['THEFT', 'BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT', 
    'MOTOR VEHICLE THEFT', 'ROBBERY', 'WEAPONS VIOLATION', 'CONCEALED CARRY LICENSE VIOLATION', 'HOMICIDE', 'ARSON']
filtered_df = df[df.Primary_Type.isin(crime_types)]

Loaded dataframe successfully...

In [10]:
len(filtered_df)

2199538

In [12]:
# Check date range
least_recent_date = filtered_df['Date'].min()
recent_date = filtered_df['Date'].max()
print(f'Start date: {least_recent_date} and Recent date: {recent_date}')

Start date: 2010-01-01 00:01:00 and Recent date: 2019-09-10 23:55:00

In [13]:
#start date 2010
start_date = '2010-01-01 00:01:00'
end_date = '2010-12-31 23:59:00'
mask = (filtered_df['Date'] > start_date) & (filtered_df['Date'] <= end_date)
filtered_crime_df_2010 = filtered_df.loc[mask]
filtered_crime_df_2010.head()

,index,ID,Date,Primary_Type,Description,Location_Description,Arrest,District,Year,Latitude,Longitude,Historical_Wards,Zip_Codes,Police_Districts
2498812,2519495,7869423,2010-12-31 21:50:00,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,025,2010,41.919747,-87.732759,27,22615,6
2498922,2519496,7879382,2010-12-31 21:45:00,ROBBERY,ARMED: HANDGUN,ALLEY,False,009,2010,41.801251,-87.645339,12,14924,23
2499094,2519389,7869492,2010-12-31 23:58:00,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,008,2010,41.784449,-87.801207,,2733,
2499095,2519390,7871080,2010-12-31 23:50:00,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,False,011,2010,41.891397,-87.744572,11,22216,16
2499096,2519391,7869489,2010-12-31 23:50:00,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,True,009,2010,41.830726,-87.647922,26,14924,23

In [14]:
len(filtered_crime_df_2010

285562

In [15]:
filtered_crime_df_2010.shape

(285562, 14)

In [16]:
crime_type = ['HOMICIDE']
homicide_df_2010 = filtered_crime_df_2010[filtered_crime_df_2010.Primary_Type.isin(crime_type)]

In [17]:
len(homicide_df_2010)

438

In [18]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint
coords = homicide_df_2010.as_matrix(columns=['Latitude', 'Longitude'])

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """

In [19]:
kms_per_radian = 6371.0088
epsilon = 1.5 / kms_per_radian
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 26

In [20]:
def get_centermost_point(cluster):
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return tuple(centermost_point)
centermost_points = clusters.map(get_centermost_point)

In [21]:
lats, lons = zip(*centermost_points)
homicide_rep_points_2010 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
homicide_rep_points_2010['Crime_type'] = 'HOMICIDE'
homicide_rep_points_2010['Year'] = '2010'

In [22]:
homicide_rep_points_2010

    Longitude   Latitude Crime_type  Year
0  -87.662196  41.795549   HOMICIDE  2010
1  -87.562161  41.712809   HOMICIDE  2010
2  -87.652424  41.947276   HOMICIDE  2010
3  -87.736192  41.995988   HOMICIDE  2010
4  -87.655357  41.963599   HOMICIDE  2010
5  -87.763106  41.865623   HOMICIDE  2010
6  -87.637304  41.900056   HOMICIDE  2010
7  -87.801402  41.923549   HOMICIDE  2010
8  -87.665975  41.996433   HOMICIDE  2010
9  -87.579837  41.791161   HOMICIDE  2010
10 -87.706158  41.972919   HOMICIDE  2010
11 -87.670249  41.893294   HOMICIDE  2010
12 -87.730168  41.781499   HOMICIDE  2010
13 -87.654909  41.881660   HOMICIDE  2010
14 -87.705653  41.956484   HOMICIDE  2010
15 -87.633094  41.850961   HOMICIDE  2010
16 -87.730332  41.734680   HOMICIDE  2010
17 -87.696444  41.942800   HOMICIDE  2010
18 -87.670963  42.017740   HOMICIDE  2010
19 -87.627851  41.882540   HOMICIDE  2010
20 -87.710415  41.992259   HOMICIDE  2010
21 -87.815582  41.945781   HOMICIDE  2010
22 -87.832365  41.958106   HOMICIDE  2010
23 -87.767613  41.953173   HOMICIDE  2010
24 -87.575320  41.669182   HOMICIDE  2010
25 -87.790181  41.787576   HOMICIDE  2010

In [23]:
crime_type = ['ARSON']
arson_df_2010 = filtered_crime_df_2010[filtered_crime_df_2010.Primary_Type.isin(crime_type)]
len(arson_df_2010)

522

In [24]:
coords = arson_df_2010.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 19

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [25]:
centermost_points = clusters.map(get_centermost_point)

In [26]:
lats, lons = zip(*centermost_points)
arson_rep_points_2010 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
arson_rep_points_2010['Crime_type'] = 'ARSON'
arson_rep_points_2010['Year'] = '2010'

In [27]:
arson_rep_points_2010

    Longitude   Latitude Crime_type  Year
0  -87.643011  41.764548      ARSON  2010
1  -87.720777  41.906330      ARSON  2010
2  -87.647308  41.879990      ARSON  2010
3  -87.795486  41.778061      ARSON  2010
4  -87.783087  41.972735      ARSON  2010
5  -87.677512  41.994307      ARSON  2010
6  -87.754687  41.796903      ARSON  2010
7  -87.650877  41.705025      ARSON  2010
8  -87.646127  41.957216      ARSON  2010
9  -87.607561  41.656259      ARSON  2010
10 -87.684266  41.711404      ARSON  2010
11 -87.550353  41.653688      ARSON  2010
12 -87.595983  41.721588      ARSON  2010
13 -87.706081  41.750881      ARSON  2010
14 -87.638993  41.662153      ARSON  2010
15 -87.627759  41.881557      ARSON  2010
16 -87.763289  41.778021      ARSON  2010
17 -87.623427  41.900018      ARSON  2010
18 -87.760468  41.997679      ARSON  2010

In [28]:
crime_type = ['NARCOTICS']
narcotics_df_2010 = filtered_crime_df_2010[filtered_crime_df_2010.Primary_Type.isin(crime_type)]
len(narcotics_df_2010)

43389

In [29]:
coords = narcotics_df_2010.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 8

In [30]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
narcotics_rep_points_2010 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
narcotics_rep_points_2010['Crime_type'] = 'NARCOTICS'
narcotics_rep_points_2010['Year'] = '2010'
narcotics_rep_points_2010

   Longitude   Latitude Crime_type  Year
0 -87.680301  41.834908  NARCOTICS  2010
1 -87.907473  41.953900  NARCOTICS  2010
2 -87.547150  41.654659  NARCOTICS  2010
3 -87.900984  41.976763  NARCOTICS  2010
4 -91.686566  36.619446  NARCOTICS  2010
5 -87.924511  41.989182  NARCOTICS  2010
6 -87.576467  41.685985  NARCOTICS  2010
7 -87.900486  42.005740  NARCOTICS  2010

In [31]:
crime_type = ['THEFT']
theft_df_2010 = filtered_crime_df_2010[filtered_crime_df_2010.Primary_Type.isin(crime_type)]
len(theft_df_2010)

76655

In [32]:
coords = theft_df_2010.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 3

In [33]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
theft_rep_points_2010 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
theft_rep_points_2010['Crime_type'] = 'THEFT'
theft_rep_points_2010['Year'] = '2010'
theft_rep_points_2010

   Longitude   Latitude Crime_type  Year
0 -87.667426  41.859592      THEFT  2010
1 -87.900635  41.977143      THEFT  2010
2 -91.686566  36.619446      THEFT  2010

In [34]:
crime_type = ['BATTERY']
battery_df_2010 = filtered_crime_df_2010[filtered_crime_df_2010.Primary_Type.isin(crime_type)]
len(battery_df_2010)

65387

In [35]:
coords = battery_df_2010.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 4

In [36]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
battery_rep_points_2010 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
battery_rep_points_2010['Crime_type'] = 'BATTERY'
battery_rep_points_2010['Year'] = '2010'
battery_rep_points_2010

   Longitude   Latitude Crime_type  Year
0 -87.670414  41.831108    BATTERY  2010
1 -87.897497  41.976824    BATTERY  2010
2 -91.686566  36.619446    BATTERY  2010
3 -87.925673  42.006633    BATTERY  2010

In [37]:
crime_type = ['ROBBERY']
robbery_df_2010 = filtered_crime_df_2010[filtered_crime_df_2010.Primary_Type.isin(crime_type)]
len(robbery_df_2010)

14272

In [38]:
coords = robbery_df_2010.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 5

In [39]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
robbery_rep_points_2010 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
robbery_rep_points_2010['Crime_type'] = 'ROBBERY'
robbery_rep_points_2010['Year'] = '2010'
robbery_rep_points_2010

   Longitude   Latitude Crime_type  Year
0 -87.669523  41.835370    ROBBERY  2010
1 -87.547152  41.653018    ROBBERY  2010
2 -87.906463  41.979006    ROBBERY  2010
3 -87.810744  41.999373    ROBBERY  2010
4 -87.836618  41.976181    ROBBERY  2010

In [40]:
crime_type = ['ASSAULT']
assault_df_2010 = filtered_crime_df_2010[filtered_crime_df_2010.Primary_Type.isin(crime_type)]
len(assault_df_2010)

21533

In [41]:
coords = assault_df_2010.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 8

In [42]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
assault_rep_points_2010 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
assault_rep_points_2010['Crime_type'] = 'ASSAULT'
assault_rep_points_2010['Year'] = '2010'
assault_rep_points_2010

   Longitude   Latitude Crime_type  Year
0 -87.667934  41.829683    ASSAULT  2010
1 -87.900984  41.976763    ASSAULT  2010
2 -87.544723  41.654708    ASSAULT  2010
3 -87.780979  42.012005    ASSAULT  2010
4 -87.910607  41.952488    ASSAULT  2010
5 -87.576338  41.684173    ASSAULT  2010
6 -91.686566  36.619446    ASSAULT  2010
7 -87.925509  41.989622    ASSAULT  2010

In [43]:
crime_type = ['MOTOR VEHICLE THEFT']
mvt_df_2010 = filtered_crime_df_2010[filtered_crime_df_2010.Primary_Type.isin(crime_type)]
len(mvt_df_2010)

19023

In [44]:
coords = mvt_df_2010.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 6

In [45]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
mvt_rep_points_2010 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
mvt_rep_points_2010['Crime_type'] = 'MOTOR VEHICLE THEFT'
mvt_rep_points_2010['Year'] = '2010'
mvt_rep_points_2010

   Longitude   Latitude           Crime_type  Year
0 -87.678100  41.845985  MOTOR VEHICLE THEFT  2010
1 -87.549560  41.655038  MOTOR VEHICLE THEFT  2010
2 -87.884969  41.982256  MOTOR VEHICLE THEFT  2010
3 -91.686566  36.619446  MOTOR VEHICLE THEFT  2010
4 -87.879953  41.965057  MOTOR VEHICLE THEFT  2010
5 -87.906463  41.979006  MOTOR VEHICLE THEFT  2010

In [46]:
total_cluster_df_2010 = pd.concat([homicide_rep_points_2010, arson_rep_points_2010, narcotics_rep_points_2010, theft_rep_points_2010, battery_rep_points_2010,
                     robbery_rep_points_2010, assault_rep_points_2010, mvt_rep_points_2010], ignore_index=True)

In [47]:
total_cluster_df_2010

    Longitude   Latitude           Crime_type  Year
0  -87.662196  41.795549             HOMICIDE  2010
1  -87.562161  41.712809             HOMICIDE  2010
2  -87.652424  41.947276             HOMICIDE  2010
3  -87.736192  41.995988             HOMICIDE  2010
4  -87.655357  41.963599             HOMICIDE  2010
5  -87.763106  41.865623             HOMICIDE  2010
6  -87.637304  41.900056             HOMICIDE  2010
7  -87.801402  41.923549             HOMICIDE  2010
8  -87.665975  41.996433             HOMICIDE  2010
9  -87.579837  41.791161             HOMICIDE  2010
10 -87.706158  41.972919             HOMICIDE  2010
11 -87.670249  41.893294             HOMICIDE  2010
12 -87.730168  41.781499             HOMICIDE  2010
13 -87.654909  41.881660             HOMICIDE  2010
14 -87.705653  41.956484             HOMICIDE  2010
15 -87.633094  41.850961             HOMICIDE  2010
16 -87.730332  41.734680             HOMICIDE  2010
17 -87.696444  41.942800             HOMICIDE  2010
18 -87.670963  42.017740             HOMICIDE  2010
19 -87.627851  41.882540             HOMICIDE  2010
20 -87.710415  41.992259             HOMICIDE  2010
21 -87.815582  41.945781             HOMICIDE  2010
22 -87.832365  41.958106             HOMICIDE  2010
23 -87.767613  41.953173             HOMICIDE  2010
24 -87.575320  41.669182             HOMICIDE  2010
25 -87.790181  41.787576             HOMICIDE  2010
26 -87.643011  41.764548                ARSON  2010
27 -87.720777  41.906330                ARSON  2010
28 -87.647308  41.879990                ARSON  2010
29 -87.795486  41.778061                ARSON  2010
..        ...        ...                  ...   ...
49 -91.686566  36.619446            NARCOTICS  2010
50 -87.924511  41.989182            NARCOTICS  2010
51 -87.576467  41.685985            NARCOTICS  2010
52 -87.900486  42.005740            NARCOTICS  2010
53 -87.667426  41.859592                THEFT  2010
54 -87.900635  41.977143                THEFT  2010
55 -91.686566  36.619446                THEFT  2010
56 -87.670414  41.831108              BATTERY  2010
57 -87.897497  41.976824              BATTERY  2010
58 -91.686566  36.619446              BATTERY  2010
59 -87.925673  42.006633              BATTERY  2010
60 -87.669523  41.835370              ROBBERY  2010
61 -87.547152  41.653018              ROBBERY  2010
62 -87.906463  41.979006              ROBBERY  2010
63 -87.810744  41.999373              ROBBERY  2010
64 -87.836618  41.976181              ROBBERY  2010
65 -87.667934  41.829683              ASSAULT  2010
66 -87.900984  41.976763              ASSAULT  2010
67 -87.544723  41.654708              ASSAULT  2010
68 -87.780979  42.012005              ASSAULT  2010
69 -87.910607  41.952488              ASSAULT  2010
70 -87.576338  41.684173              ASSAULT  2010
71 -91.686566  36.619446              ASSAULT  2010
72 -87.925509  41.989622              ASSAULT  2010
73 -87.678100  41.845985  MOTOR VEHICLE THEFT  2010
74 -87.549560  41.655038  MOTOR VEHICLE THEFT  2010
75 -87.884969  41.982256  MOTOR VEHICLE THEFT  2010
76 -91.686566  36.619446  MOTOR VEHICLE THEFT  2010
77 -87.879953  41.965057  MOTOR VEHICLE THEFT  2010
78 -87.906463  41.979006  MOTOR VEHICLE THEFT  2010

[79 rows x 4 columns]

In [48]:
#save CSV
total_cluster_df_2010.to_csv("assets/data/clusters2010.csv", encoding="utf-8")