In [1]:
import pandas as pd
import numpy as np
import csv

from sqlalchemy import create_engine

In [2]:
import os
import json
from config import password

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

app.config["SQLALCHEMY_DATABASE_URI"] = "postgresql+psycopg2://postgres:{password}@localhost:5432/crime_db"
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(app)
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# prepare to load the entire chicago table into a dataframe
Chicago_Metadata = Base.classes.chicago
stmt = db.session.query(Chicago_Metadata).statement
df = pd.read_sql_query(stmt, db.session.bind)
print("Loaded dataframe successfully...")

# Filter dataframe by certain crime types
crime_types = ['THEFT', 'BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT', 
    'MOTOR VEHICLE THEFT', 'ROBBERY', 'WEAPONS VIOLATION', 'CONCEALED CARRY LICENSE VIOLATION', 'HOMICIDE', 'ARSON']
filtered_df = df[df.Primary_Type.isin(crime_types)]

Loaded dataframe successfully...

In [3]:
len(filtered_df)

2199538

In [4]:
# Check date range
least_recent_date = filtered_df['Date'].min()
recent_date = filtered_df['Date'].max()
print(f'Start date: {least_recent_date} and Recent date: {recent_date}')

Start date: 2010-01-01 00:01:00 and Recent date: 2019-09-10 23:55:00

In [5]:
#start date 2015
start_date = '2015-01-01 00:01:00'
end_date = '2015-12-31 23:59:00'
mask = (filtered_df['Date'] > start_date) & (filtered_df['Date'] <= end_date)
filtered_crime_df_2015 = filtered_df.loc[mask]
filtered_crime_df_2015.head()

,index,ID,Date,Primary_Type,Description,Location_Description,Arrest,District,Year,Latitude,Longitude,Historical_Wards,Zip_Codes,Police_Districts
974389,984769,10365064,2015-12-31 23:59:00,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,006,2015,41.757367,-87.642993,17,21554,20
974390,984770,10364662,2015-12-31 23:55:00,BATTERY,AGGRAVATED: OTHER DANG WEAPON,STREET,False,004,2015,41.751270,-87.585822,9,21202,19
974391,984771,10364740,2015-12-31 23:50:00,THEFT,$500 AND UNDER,APARTMENT,False,024,2015,42.016804,-87.690709,42,22528,11
974392,984772,10364683,2015-12-31 23:50:00,BATTERY,SIMPLE,SIDEWALK,True,019,2015,41.949837,-87.658635,38,21186,5
974393,984773,10365142,2015-12-31 23:45:00,THEFT,PURSE-SNATCHING,SIDEWALK,False,001,2015,41.888165,-87.622937,22,14309,22

In [6]:
len(filtered_crime_df_2015)

196636

In [7]:
filtered_crime_df_2015.shape

(196636, 14)

In [8]:
crime_type = ['HOMICIDE']
homicide_df_2015 = filtered_crime_df_2015[filtered_crime_df_2015.Primary_Type.isin(crime_type)]

In [9]:
len(homicide_df_2015)

502

In [10]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint
coords = homicide_df_2015.as_matrix(columns=['Latitude', 'Longitude'])

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """

In [11]:
kms_per_radian = 6371.0088
epsilon = 1.5 / kms_per_radian
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 16

In [12]:
def get_centermost_point(cluster):
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return tuple(centermost_point)
centermost_points = clusters.map(get_centermost_point)

In [41]:
lats, lons = zip(*centermost_points)
homicide_rep_points_2015 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
homicide_rep_points_2015['Crime_type'] = 'HOMICIDE'
homicide_rep_points_2015['Year'] = '2015'

In [42]:
homicide_rep_points_2015

   Longitude   Latitude Crime_type  Year
0 -87.680176  41.846842   HOMICIDE  2015
1 -87.884023  41.981959   HOMICIDE  2015
2 -87.547148  41.654527   HOMICIDE  2015
3 -87.866451  41.973208   HOMICIDE  2015
4 -87.787227  42.011991   HOMICIDE  2015

In [15]:
crime_type = ['ARSON']
arson_df_2015 = filtered_crime_df_2015[filtered_crime_df_2015.Primary_Type.isin(crime_type)]
len(arson_df_2015)

453

In [16]:
coords = arson_df_2015.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 24

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [17]:
centermost_points = clusters.map(get_centermost_point)

In [18]:
lats, lons = zip(*centermost_points)
arson_rep_points_2015 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
arson_rep_points_2015['Crime_type'] = 'ARSON'
arson_rep_points_2015['Year'] = '2015'

In [19]:
arson_rep_points_2015

    Longitude   Latitude Crime_type  Year
0  -87.681475  41.833482      ARSON  2015
1  -87.669965  42.005833      ARSON  2015
2  -87.643043  41.899177      ARSON  2015
3  -87.622462  41.690779      ARSON  2015
4  -87.559616  41.703598      ARSON  2015
5  -87.591241  41.656519      ARSON  2015
6  -87.724939  41.743573      ARSON  2015
7  -87.756340  41.797828      ARSON  2015
8  -87.576338  41.684173      ARSON  2015
9  -87.690720  41.977689      ARSON  2015
10 -87.691336  41.747380      ARSON  2015
11 -87.817687  41.979712      ARSON  2015
12 -87.773633  41.978098      ARSON  2015
13 -87.613436  41.651836      ARSON  2015
14 -87.773144  41.779670      ARSON  2015
15 -87.584732  41.804379      ARSON  2015
16 -87.697469  41.696620      ARSON  2015
17 -87.541345  41.700480      ARSON  2015
18 -87.660268  41.680688      ARSON  2015
19 -87.655284  41.986461      ARSON  2015
20 -87.662017  41.723044      ARSON  2015
21 -87.813399  41.951603      ARSON  2015
22 -87.717659  41.756449      ARSON  2015
23 -87.669340  41.700528      ARSON  2015

In [20]:
crime_type = ['NARCOTICS']
narcotics_df_2015 = filtered_crime_df_2015[filtered_crime_df_2015.Primary_Type.isin(crime_type)]
len(narcotics_df_2015)

21607

In [21]:
coords = narcotics_df_2015.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 6

In [22]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
narcotics_rep_points_2015 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
narcotics_rep_points_2015['Crime_type'] = 'NARCOTICS'
narcotics_rep_points_2015['Year'] = '2015'
narcotics_rep_points_2015

   Longitude   Latitude Crime_type  Year
0 -87.685315  41.842417  NARCOTICS  2015
1 -87.700913  41.694205  NARCOTICS  2015
2 -87.904976  41.976421  NARCOTICS  2015
3 -87.545908  41.655049  NARCOTICS  2015
4 -87.806571  42.017318  NARCOTICS  2015
5 -87.907473  41.953900  NARCOTICS  2015

In [23]:
crime_type = ['THEFT']
theft_df_2015 = filtered_crime_df_2015[filtered_crime_df_2015.Primary_Type.isin(crime_type)]
len(theft_df_2015)

56684

In [24]:
coords = theft_df_2015.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 2

In [25]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
theft_rep_points_2015 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
theft_rep_points_2015['Crime_type'] = 'THEFT'
theft_rep_points_2015['Year'] = '2015'
theft_rep_points_2015

   Longitude   Latitude Crime_type  Year
0 -87.666580  41.858693      THEFT  2015
1 -87.907473  41.953900      THEFT  2015

In [26]:
crime_type = ['BATTERY']
battery_df_2015 = filtered_crime_df_2015[filtered_crime_df_2015.Primary_Type.isin(crime_type)]
len(battery_df_2015)

48816

In [27]:
coords = battery_df_2015.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 5

In [28]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
battery_rep_points_2015 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
battery_rep_points_2015['Crime_type'] = 'BATTERY'
battery_rep_points_2015['Year'] = '2015'
battery_rep_points_2015

   Longitude   Latitude Crime_type  Year
0 -87.668011  41.832847    BATTERY  2015
1 -87.900984  41.976763    BATTERY  2015
2 -87.907473  41.953900    BATTERY  2015
3 -87.889893  41.998274    BATTERY  2015
4 -87.924970  41.988802    BATTERY  2015

In [29]:
crime_type = ['ROBBERY']
robbery_df_2015 = filtered_crime_df_2015[filtered_crime_df_2015.Primary_Type.isin(crime_type)]
len(robbery_df_2015)

9632

In [30]:
coords = robbery_df_2015.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 6

In [31]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
robbery_rep_points_2015 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
robbery_rep_points_2015['Crime_type'] = 'ROBBERY'
robbery_rep_points_2015['Year'] = '2015'
robbery_rep_points_2015

   Longitude   Latitude Crime_type  Year
0 -87.669047  41.834124    ROBBERY  2015
1 -87.545916  41.653221    ROBBERY  2015
2 -87.839757  41.978346    ROBBERY  2015
3 -87.787227  42.011991    ROBBERY  2015
4 -87.835442  41.951056    ROBBERY  2015
5 -87.898153  41.980336    ROBBERY  2015

In [32]:
crime_type = ['ASSAULT']
assault_df_2015 = filtered_crime_df_2015[filtered_crime_df_2015.Primary_Type.isin(crime_type)]
len(assault_df_2015)

16992

In [33]:
coords = assault_df_2015.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 7

In [34]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
assault_rep_points_2015 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
assault_rep_points_2015['Crime_type'] = 'ASSAULT'
assault_rep_points_2015['Year'] = '2015'
assault_rep_points_2015

   Longitude   Latitude Crime_type  Year
0 -87.669120  41.828178    ASSAULT  2015
1 -87.915105  41.953783    ASSAULT  2015
2 -87.898494  41.977346    ASSAULT  2015
3 -87.885048  41.959004    ASSAULT  2015
4 -87.889893  41.998274    ASSAULT  2015
5 -87.576338  41.684173    ASSAULT  2015
6 -87.864076  41.973586    ASSAULT  2015

In [35]:
crime_type = ['MOTOR VEHICLE THEFT']
mvt_df_2015 = filtered_crime_df_2015[filtered_crime_df_2015.Primary_Type.isin(crime_type)]
len(mvt_df_2015)

10003

In [36]:
coords = mvt_df_2015.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 5

In [37]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
mvt_rep_points_2015 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
mvt_rep_points_2015['Crime_type'] = 'MOTOR VEHICLE THEFT'
mvt_rep_points_2015['Year'] = '2015'
mvt_rep_points_2015

   Longitude   Latitude           Crime_type  Year
0 -87.680176  41.846842  MOTOR VEHICLE THEFT  2015
1 -87.884023  41.981959  MOTOR VEHICLE THEFT  2015
2 -87.547148  41.654527  MOTOR VEHICLE THEFT  2015
3 -87.866451  41.973208  MOTOR VEHICLE THEFT  2015
4 -87.787227  42.011991  MOTOR VEHICLE THEFT  2015

In [43]:
total_cluster_df_2015 = pd.concat([homicide_rep_points_2015, arson_rep_points_2015, narcotics_rep_points_2015, theft_rep_points_2015, battery_rep_points_2015,
                     robbery_rep_points_2015, assault_rep_points_2015, mvt_rep_points_2015], ignore_index=True)

In [44]:
total_cluster_df_2015

    Longitude   Latitude           Crime_type  Year
0  -87.680176  41.846842             HOMICIDE  2015
1  -87.884023  41.981959             HOMICIDE  2015
2  -87.547148  41.654527             HOMICIDE  2015
3  -87.866451  41.973208             HOMICIDE  2015
4  -87.787227  42.011991             HOMICIDE  2015
5  -87.681475  41.833482                ARSON  2015
6  -87.669965  42.005833                ARSON  2015
7  -87.643043  41.899177                ARSON  2015
8  -87.622462  41.690779                ARSON  2015
9  -87.559616  41.703598                ARSON  2015
10 -87.591241  41.656519                ARSON  2015
11 -87.724939  41.743573                ARSON  2015
12 -87.756340  41.797828                ARSON  2015
13 -87.576338  41.684173                ARSON  2015
14 -87.690720  41.977689                ARSON  2015
15 -87.691336  41.747380                ARSON  2015
16 -87.817687  41.979712                ARSON  2015
17 -87.773633  41.978098                ARSON  2015
18 -87.613436  41.651836                ARSON  2015
19 -87.773144  41.779670                ARSON  2015
20 -87.584732  41.804379                ARSON  2015
21 -87.697469  41.696620                ARSON  2015
22 -87.541345  41.700480                ARSON  2015
23 -87.660268  41.680688                ARSON  2015
24 -87.655284  41.986461                ARSON  2015
25 -87.662017  41.723044                ARSON  2015
26 -87.813399  41.951603                ARSON  2015
27 -87.717659  41.756449                ARSON  2015
28 -87.669340  41.700528                ARSON  2015
29 -87.685315  41.842417            NARCOTICS  2015
30 -87.700913  41.694205            NARCOTICS  2015
31 -87.904976  41.976421            NARCOTICS  2015
32 -87.545908  41.655049            NARCOTICS  2015
33 -87.806571  42.017318            NARCOTICS  2015
34 -87.907473  41.953900            NARCOTICS  2015
35 -87.666580  41.858693                THEFT  2015
36 -87.907473  41.953900                THEFT  2015
37 -87.668011  41.832847              BATTERY  2015
38 -87.900984  41.976763              BATTERY  2015
39 -87.907473  41.953900              BATTERY  2015
40 -87.889893  41.998274              BATTERY  2015
41 -87.924970  41.988802              BATTERY  2015
42 -87.669047  41.834124              ROBBERY  2015
43 -87.545916  41.653221              ROBBERY  2015
44 -87.839757  41.978346              ROBBERY  2015
45 -87.787227  42.011991              ROBBERY  2015
46 -87.835442  41.951056              ROBBERY  2015
47 -87.898153  41.980336              ROBBERY  2015
48 -87.669120  41.828178              ASSAULT  2015
49 -87.915105  41.953783              ASSAULT  2015
50 -87.898494  41.977346              ASSAULT  2015
51 -87.885048  41.959004              ASSAULT  2015
52 -87.889893  41.998274              ASSAULT  2015
53 -87.576338  41.684173              ASSAULT  2015
54 -87.864076  41.973586              ASSAULT  2015
55 -87.680176  41.846842  MOTOR VEHICLE THEFT  2015
56 -87.884023  41.981959  MOTOR VEHICLE THEFT  2015
57 -87.547148  41.654527  MOTOR VEHICLE THEFT  2015
58 -87.866451  41.973208  MOTOR VEHICLE THEFT  2015
59 -87.787227  42.011991  MOTOR VEHICLE THEFT  2015

In [46]:
#save CSV
total_cluster_df_2015.to_csv("assets/data/clusters2015.csv", encoding="utf-8")