In [1]:
import pandas as pd
import numpy as np
import csv

from sqlalchemy import create_engine

In [2]:
import os
import json
from config import password

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

app.config["SQLALCHEMY_DATABASE_URI"] = "postgresql+psycopg2://postgres:{password}@localhost:5432/crime_db"
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(app)
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# prepare to load the entire chicago table into a dataframe
Chicago_Metadata = Base.classes.chicago
stmt = db.session.query(Chicago_Metadata).statement
df = pd.read_sql_query(stmt, db.session.bind)
print("Loaded dataframe successfully...")

# Filter dataframe by certain crime types
crime_types = ['THEFT', 'BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT', 
    'MOTOR VEHICLE THEFT', 'ROBBERY', 'WEAPONS VIOLATION', 'CONCEALED CARRY LICENSE VIOLATION', 'HOMICIDE', 'ARSON']
filtered_df = df[df.Primary_Type.isin(crime_types)]

Loaded dataframe successfully...

In [3]:
len(filtered_df)

2199538

In [4]:
# Check date range
least_recent_date = filtered_df['Date'].min()
recent_date = filtered_df['Date'].max()
print(f'Start date: {least_recent_date} and Recent date: {recent_date}')

Start date: 2010-01-01 00:01:00 and Recent date: 2019-09-10 23:55:00

In [5]:
#start date 2016
start_date = '2016-01-01 00:01:00'
end_date = '2016-12-31 23:59:00'
mask = (filtered_df['Date'] > start_date) & (filtered_df['Date'] <= end_date)
filtered_crime_df_2016 = filtered_df.loc[mask]
filtered_crime_df_2016.head()

,index,ID,Date,Primary_Type,Description,Location_Description,Arrest,District,Year,Latitude,Longitude,Historical_Wards,Zip_Codes,Police_Districts
707058,716003,10800764,2016-12-31 13:15:00,THEFT,FROM BUILDING,RESTAURANT,False,012,2016,41.887727,-87.661401,41,14917,15
707170,715606,10819224,2016-12-31 23:59:00,THEFT,OVER $500,AIRPORT BUILDING NON-TERMINAL - SECURE AREA,False,016,2016,41.976290,-87.905227,34,16197,12
707171,715607,10801137,2016-12-31 23:58:00,BATTERY,AGGRAVATED: OTHER DANG WEAPON,RESIDENCE,False,005,2016,41.688033,-87.623931,45,21861,10
707172,715608,10802006,2016-12-31 23:55:00,BATTERY,DOMESTIC BATTERY SIMPLE,HOTEL/MOTEL,False,001,2016,41.886815,-87.625593,22,14309,22
707174,715610,10801865,2016-12-31 23:54:00,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,006,2016,41.752307,-87.619798,31,21546,20

In [6]:
len(filtered_crime_df_2016)

202180

In [7]:
filtered_crime_df_2016.shape

(202180, 14)

In [8]:
crime_type = ['HOMICIDE']
homicide_df_2016 = filtered_crime_df_2016[filtered_crime_df_2016.Primary_Type.isin(crime_type)]

In [9]:
len(homicide_df_2016)

788

In [10]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint
coords = homicide_df_2016.as_matrix(columns=['Latitude', 'Longitude'])

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """

In [11]:
kms_per_radian = 6371.0088
epsilon = 1.5 / kms_per_radian
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 17

In [12]:
def get_centermost_point(cluster):
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return tuple(centermost_point)
centermost_points = clusters.map(get_centermost_point)

In [13]:
lats, lons = zip(*centermost_points)
homicide_rep_points_2016 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
homicide_rep_points_2016['Crime_type'] = 'HOMICIDE'
homicide_rep_points_2016['Year'] = '2016'

In [14]:
homicide_rep_points_2016

    Longitude   Latitude Crime_type  Year
0  -87.672372  41.813075   HOMICIDE  2016
1  -87.808767  41.948868   HOMICIDE  2016
2  -87.757606  41.799344   HOMICIDE  2016
3  -87.610466  41.654658   HOMICIDE  2016
4  -87.766086  41.969927   HOMICIDE  2016
5  -87.591099  41.798056   HOMICIDE  2016
6  -87.535283  41.716874   HOMICIDE  2016
7  -87.680325  42.005538   HOMICIDE  2016
8  -87.653095  41.965455   HOMICIDE  2016
9  -87.560771  41.700104   HOMICIDE  2016
10 -87.624345  41.881423   HOMICIDE  2016
11 -87.562805  41.684624   HOMICIDE  2016
12 -87.786081  41.960230   HOMICIDE  2016
13 -87.787857  41.777575   HOMICIDE  2016
14 -87.806977  41.980616   HOMICIDE  2016
15 -87.683893  41.962535   HOMICIDE  2016
16 -87.649764  41.935446   HOMICIDE  2016

In [15]:
crime_type = ['ARSON']
arson_df_2016 = filtered_crime_df_2016[filtered_crime_df_2016.Primary_Type.isin(crime_type)]
len(arson_df_2016)

515

In [16]:
coords = arson_df_2016.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 26

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [17]:
centermost_points = clusters.map(get_centermost_point)

In [18]:
lats, lons = zip(*centermost_points)
arson_rep_points_2016 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
arson_rep_points_2016['Crime_type'] = 'ARSON'
arson_rep_points_2016['Year'] = '2016'

In [19]:
arson_rep_points_2016

    Longitude   Latitude Crime_type  Year
0  -87.716065  41.886697      ARSON  2016
1  -87.652695  41.756952      ARSON  2016
2  -87.715941  41.691331      ARSON  2016
3  -87.549578  41.671721      ARSON  2016
4  -87.665863  41.974402      ARSON  2016
5  -87.594866  41.792554      ARSON  2016
6  -87.530453  41.699976      ARSON  2016
7  -87.811051  41.945185      ARSON  2016
8  -87.778264  41.961167      ARSON  2016
9  -87.560750  41.698513      ARSON  2016
10 -87.722036  41.963752      ARSON  2016
11 -87.614590  41.653649      ARSON  2016
12 -87.674502  41.828576      ARSON  2016
13 -87.682998  41.962305      ARSON  2016
14 -87.791336  41.785797      ARSON  2016
15 -87.645042  41.837177      ARSON  2016
16 -87.679048  42.018497      ARSON  2016
17 -87.760380  41.957827      ARSON  2016
18 -87.804395  41.924147      ARSON  2016
19 -87.758780  41.797664      ARSON  2016
20 -87.651925  41.939943      ARSON  2016
21 -87.624166  41.891984      ARSON  2016
22 -87.632329  41.815152      ARSON  2016
23 -87.634670  41.909823      ARSON  2016
24 -87.668717  41.998101      ARSON  2016
25 -87.535289  41.720551      ARSON  2016

In [20]:
crime_type = ['NARCOTICS']
narcotics_df_2016 = filtered_crime_df_2016[filtered_crime_df_2016.Primary_Type.isin(crime_type)]
len(narcotics_df_2016)

13257

In [21]:
coords = narcotics_df_2016.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 7

In [22]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
narcotics_rep_points_2016 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
narcotics_rep_points_2016['Crime_type'] = 'NARCOTICS'
narcotics_rep_points_2016['Year'] = '2016'
narcotics_rep_points_2016

   Longitude   Latitude Crime_type  Year
0 -87.688311  41.844786  NARCOTICS  2016
1 -87.907473  41.953900  NARCOTICS  2016
2 -87.905227  41.976290  NARCOTICS  2016
3 -87.840746  41.986989  NARCOTICS  2016
4 -87.836685  41.965721  NARCOTICS  2016
5 -87.807787  42.017578  NARCOTICS  2016
6 -87.559392  41.685998  NARCOTICS  2016

In [23]:
crime_type = ['THEFT']
theft_df_2016 = filtered_crime_df_2016[filtered_crime_df_2016.Primary_Type.isin(crime_type)]
len(theft_df_2016)

61026

In [24]:
coords = theft_df_2016.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 5

In [25]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
theft_rep_points_2016 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
theft_rep_points_2016['Crime_type'] = 'THEFT'
theft_rep_points_2016['Year'] = '2016'
theft_rep_points_2016

   Longitude   Latitude Crime_type  Year
0 -87.666265  41.862132      THEFT  2016
1 -87.547138  41.656542      THEFT  2016
2 -87.917645  41.962448      THEFT  2016
3 -87.887170  41.959441      THEFT  2016
4 -87.914870  41.994301      THEFT  2016

In [26]:
crime_type = ['BATTERY']
battery_df_2016 = filtered_crime_df_2016[filtered_crime_df_2016.Primary_Type.isin(crime_type)]
len(battery_df_2016)

50244

In [27]:
coords = battery_df_2016.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 3

In [28]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
battery_rep_points_2016 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
battery_rep_points_2016['Crime_type'] = 'BATTERY'
battery_rep_points_2016['Year'] = '2016'
battery_rep_points_2016

   Longitude   Latitude Crime_type  Year
0 -87.670454  41.832936    BATTERY  2016
1 -87.900984  41.976763    BATTERY  2016
2 -87.890667  41.957308    BATTERY  2016

In [29]:
crime_type = ['ROBBERY']
robbery_df_2016 = filtered_crime_df_2016[filtered_crime_df_2016.Primary_Type.isin(crime_type)]
len(robbery_df_2016)

11953

In [30]:
coords = robbery_df_2016.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 6

In [31]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
robbery_rep_points_2016 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
robbery_rep_points_2016['Crime_type'] = 'ROBBERY'
robbery_rep_points_2016['Year'] = '2016'
robbery_rep_points_2016

   Longitude   Latitude Crime_type  Year
0 -87.665729  41.837055    ROBBERY  2016
1 -87.545916  41.653221    ROBBERY  2016
2 -87.815111  42.017538    ROBBERY  2016
3 -87.925509  41.989622    ROBBERY  2016
4 -87.900984  41.976763    ROBBERY  2016
5 -87.836611  41.977156    ROBBERY  2016

In [32]:
crime_type = ['ASSAULT']
assault_df_2016 = filtered_crime_df_2016[filtered_crime_df_2016.Primary_Type.isin(crime_type)]
len(assault_df_2016)

18719

In [33]:
coords = assault_df_2016.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 5

In [34]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
assault_rep_points_2016 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
assault_rep_points_2016['Crime_type'] = 'ASSAULT'
assault_rep_points_2016['Year'] = '2016'
assault_rep_points_2016

   Longitude   Latitude Crime_type  Year
0 -87.669167  41.830003    ASSAULT  2016
1 -87.545906  41.656780    ASSAULT  2016
2 -87.900520  41.976800    ASSAULT  2016
3 -87.915685  41.953969    ASSAULT  2016
4 -87.721095  41.711891    ASSAULT  2016

In [35]:
crime_type = ['MOTOR VEHICLE THEFT']
mvt_df_2016 = filtered_crime_df_2016[filtered_crime_df_2016.Primary_Type.isin(crime_type)]
len(mvt_df_2016)

11278

In [36]:
coords = mvt_df_2016.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 7

In [37]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
mvt_rep_points_2016 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
mvt_rep_points_2016['Crime_type'] = 'MOTOR VEHICLE THEFT'
mvt_rep_points_2016['Year'] = '2016'
mvt_rep_points_2016

   Longitude   Latitude           Crime_type  Year
0 -87.680926  41.847477  MOTOR VEHICLE THEFT  2016
1 -87.549562  41.654871  MOTOR VEHICLE THEFT  2016
2 -87.905227  41.976290  MOTOR VEHICLE THEFT  2016
3 -87.884969  41.982256  MOTOR VEHICLE THEFT  2016
4 -87.914585  41.960790  MOTOR VEHICLE THEFT  2016
5 -87.573877  41.673676  MOTOR VEHICLE THEFT  2016
6 -87.893399  41.950804  MOTOR VEHICLE THEFT  2016

In [38]:
total_cluster_df_2016 = pd.concat([homicide_rep_points_2016, arson_rep_points_2016, narcotics_rep_points_2016, theft_rep_points_2016, battery_rep_points_2016,
                     robbery_rep_points_2016, assault_rep_points_2016, mvt_rep_points_2016], ignore_index=True)

In [39]:
total_cluster_df_2016

    Longitude   Latitude           Crime_type  Year
0  -87.672372  41.813075             HOMICIDE  2016
1  -87.808767  41.948868             HOMICIDE  2016
2  -87.757606  41.799344             HOMICIDE  2016
3  -87.610466  41.654658             HOMICIDE  2016
4  -87.766086  41.969927             HOMICIDE  2016
5  -87.591099  41.798056             HOMICIDE  2016
6  -87.535283  41.716874             HOMICIDE  2016
7  -87.680325  42.005538             HOMICIDE  2016
8  -87.653095  41.965455             HOMICIDE  2016
9  -87.560771  41.700104             HOMICIDE  2016
10 -87.624345  41.881423             HOMICIDE  2016
11 -87.562805  41.684624             HOMICIDE  2016
12 -87.786081  41.960230             HOMICIDE  2016
13 -87.787857  41.777575             HOMICIDE  2016
14 -87.806977  41.980616             HOMICIDE  2016
15 -87.683893  41.962535             HOMICIDE  2016
16 -87.649764  41.935446             HOMICIDE  2016
17 -87.716065  41.886697                ARSON  2016
18 -87.652695  41.756952                ARSON  2016
19 -87.715941  41.691331                ARSON  2016
20 -87.549578  41.671721                ARSON  2016
21 -87.665863  41.974402                ARSON  2016
22 -87.594866  41.792554                ARSON  2016
23 -87.530453  41.699976                ARSON  2016
24 -87.811051  41.945185                ARSON  2016
25 -87.778264  41.961167                ARSON  2016
26 -87.560750  41.698513                ARSON  2016
27 -87.722036  41.963752                ARSON  2016
28 -87.614590  41.653649                ARSON  2016
29 -87.674502  41.828576                ARSON  2016
..        ...        ...                  ...   ...
46 -87.840746  41.986989            NARCOTICS  2016
47 -87.836685  41.965721            NARCOTICS  2016
48 -87.807787  42.017578            NARCOTICS  2016
49 -87.559392  41.685998            NARCOTICS  2016
50 -87.666265  41.862132                THEFT  2016
51 -87.547138  41.656542                THEFT  2016
52 -87.917645  41.962448                THEFT  2016
53 -87.887170  41.959441                THEFT  2016
54 -87.914870  41.994301                THEFT  2016
55 -87.670454  41.832936              BATTERY  2016
56 -87.900984  41.976763              BATTERY  2016
57 -87.890667  41.957308              BATTERY  2016
58 -87.665729  41.837055              ROBBERY  2016
59 -87.545916  41.653221              ROBBERY  2016
60 -87.815111  42.017538              ROBBERY  2016
61 -87.925509  41.989622              ROBBERY  2016
62 -87.900984  41.976763              ROBBERY  2016
63 -87.836611  41.977156              ROBBERY  2016
64 -87.669167  41.830003              ASSAULT  2016
65 -87.545906  41.656780              ASSAULT  2016
66 -87.900520  41.976800              ASSAULT  2016
67 -87.915685  41.953969              ASSAULT  2016
68 -87.721095  41.711891              ASSAULT  2016
69 -87.680926  41.847477  MOTOR VEHICLE THEFT  2016
70 -87.549562  41.654871  MOTOR VEHICLE THEFT  2016
71 -87.905227  41.976290  MOTOR VEHICLE THEFT  2016
72 -87.884969  41.982256  MOTOR VEHICLE THEFT  2016
73 -87.914585  41.960790  MOTOR VEHICLE THEFT  2016
74 -87.573877  41.673676  MOTOR VEHICLE THEFT  2016
75 -87.893399  41.950804  MOTOR VEHICLE THEFT  2016

[76 rows x 4 columns]

In [40]:
#save CSV
total_cluster_df_2016.to_csv("assets/data/clusters2016.csv", encoding="utf-8")