In [77]:
import pandas as pd
import numpy as np
import config

import sqlalchemy
from sqlalchemy import create_engine

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

pd.options.mode.chained_assignment = None

In [78]:
engine = create_engine(f'postgresql://postgres:{config.password}@localhost:5432/crime_db')

In [79]:
crime_df = pd.read_sql("chicago", con=engine)
crime_df.head()

,index,ID,Date,Primary_Type,Description,Location_Description,Arrest,District,Year,Latitude,Longitude,Historical_Wards,Zip_Codes,Police_Districts
0,0,11824091,2019-09-10 23:55:00,WEAPONS VIOLATION,UNLAWFUL USE HANDGUN,RESIDENCE PORCH/HALLWAY,False,007,2019,41.775402,-87.653178,17,21559,17
1,1,11824149,2019-09-10 23:50:00,OTHER OFFENSE,VEHICLE TITLE/REG OFFENSE,STREET,True,006,2019,41.750582,-87.647984,17,21554,20
2,2,11824121,2019-09-10 23:50:00,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,015,2019,41.880829,-87.752634,11,22216,25
3,3,11824152,2019-09-10 23:47:00,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,006,2019,41.751657,-87.650131,17,21554,20
4,5,11824113,2019-09-10 23:42:00,ASSAULT,SIMPLE,SIDEWALK,False,015,2019,41.899880,-87.748366,4,4299,25

In [80]:
crime_types = ['THEFT', 'BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT', 
    'MOTOR VEHICLE THEFT', 'ROBBERY', 'WEAPONS VIOLATION', 'CONCEALED CARRY LICENSE VIOLATION', 'HOMICIDE', 'ARSON']

filtered_crime_df = crime_df[crime_df.Primary_Type.isin(crime_types)]
filtered_crime_df.head()

,index,ID,Date,Primary_Type,Description,Location_Description,Arrest,District,Year,Latitude,Longitude,Historical_Wards,Zip_Codes,Police_Districts
0,0,11824091,2019-09-10 23:55:00,WEAPONS VIOLATION,UNLAWFUL USE HANDGUN,RESIDENCE PORCH/HALLWAY,False,007,2019,41.775402,-87.653178,17,21559,17
2,2,11824121,2019-09-10 23:50:00,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,015,2019,41.880829,-87.752634,11,22216,25
3,3,11824152,2019-09-10 23:47:00,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,006,2019,41.751657,-87.650131,17,21554,20
4,5,11824113,2019-09-10 23:42:00,ASSAULT,SIMPLE,SIDEWALK,False,015,2019,41.899880,-87.748366,4,4299,25
7,8,11824122,2019-09-10 23:33:00,BATTERY,DOMESTIC BATTERY SIMPLE,ALLEY,True,025,2019,41.919319,-87.758462,4,22615,6

In [81]:
filtered_crime_df['Hour'] = filtered_crime_df['Date'].dt.hour
filtered_crime_df['Month'] = filtered_crime_df['Date'].dt.month
filtered_crime_df['Day'] = filtered_crime_df['Date'].dt.day
filtered_crime_df['Day_of_Week'] = filtered_crime_df['Date'].dt.dayofweek
filtered_crime_df['Day_of_Year'] = filtered_crime_df['Date'].dt.dayofyear

filtered_crime_df.head()

,index,ID,Date,Primary_Type,Description,Location_Description,Arrest,District,Year,Latitude,Longitude,Historical_Wards,Zip_Codes,Police_Districts,Hour,Month,Day,Day_of_Week,Day_of_Year
0,0,11824091,2019-09-10 23:55:00,WEAPONS VIOLATION,UNLAWFUL USE HANDGUN,RESIDENCE PORCH/HALLWAY,False,007,2019,41.775402,-87.653178,17,21559,17,23,9,10,1,253
2,2,11824121,2019-09-10 23:50:00,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,015,2019,41.880829,-87.752634,11,22216,25,23,9,10,1,253
3,3,11824152,2019-09-10 23:47:00,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,006,2019,41.751657,-87.650131,17,21554,20,23,9,10,1,253
4,5,11824113,2019-09-10 23:42:00,ASSAULT,SIMPLE,SIDEWALK,False,015,2019,41.899880,-87.748366,4,4299,25,23,9,10,1,253
7,8,11824122,2019-09-10 23:33:00,BATTERY,DOMESTIC BATTERY SIMPLE,ALLEY,True,025,2019,41.919319,-87.758462,4,22615,6,23,9,10,1,253

In [82]:
# inflation_df = pd.read_csv("assets/data/Consumer_Price_Index_All_Urban_Consumers.csv")
# inflation_df.head()

# unemployment_df = pd.read_csv("assets/data/Illinois_Unemployment_Rate_2009-2019.csv")
# unemployment_df.head()

,Series ID,Year,Period,Label,Month,Value,1-Month Net Change,3-Month Net Change,6-Month Net Change,12-Month Net Change
0,LNS14000000,2009,M01,2009 Jan,1,7.8,0.5,1.3,2.0,2.8
1,LNS14000000,2009,M02,2009 Feb,2,8.3,0.5,1.5,2.2,3.4
2,LNS14000000,2009,M03,2009 Mar,3,8.7,0.4,1.4,2.6,3.6
3,LNS14000000,2009,M04,2009 Apr,4,9.0,0.3,1.2,2.5,4.0
4,LNS14000000,2009,M05,2009 May,5,9.4,0.4,1.1,2.6,4.0

In [83]:
# merged_df = pd.merge(filtered_crime_df, inflation_df, on=(['Year', 'Month']), how='inner').fillna('Unknown')
# merged_df.head()

,index,ID,Date,Primary_Type,Description,Location_Description,Arrest,District,Year,Latitude,...,Zip_Codes,Police_Districts,Hour,Month,Day,Day_of_Week,Day_of_Year,Period,Label,Consumer Price Index
0,0,11824091,2019-09-10 23:55:00,WEAPONS VIOLATION,UNLAWFUL USE HANDGUN,RESIDENCE PORCH/HALLWAY,False,007,2019,41.775402,...,21559,17,23,9,10,1,253,M09,2019 Sep,264.522
1,2,11824121,2019-09-10 23:50:00,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,015,2019,41.880829,...,22216,25,23,9,10,1,253,M09,2019 Sep,264.522
2,3,11824152,2019-09-10 23:47:00,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,006,2019,41.751657,...,21554,20,23,9,10,1,253,M09,2019 Sep,264.522
3,5,11824113,2019-09-10 23:42:00,ASSAULT,SIMPLE,SIDEWALK,False,015,2019,41.899880,...,4299,25,23,9,10,1,253,M09,2019 Sep,264.522
4,8,11824122,2019-09-10 23:33:00,BATTERY,DOMESTIC BATTERY SIMPLE,ALLEY,True,025,2019,41.919319,...,22615,6,23,9,10,1,253,M09,2019 Sep,264.522

In [84]:
#List of relevant columns for model
col_list = ['Year','Month','Day_of_Week','Hour','Primary_Type','Latitude',
            'Longitude','Location_Description', 'Police_Districts', 'Arrest']

#Dataframe created from list of relevant columns
model_df = filtered_crime_df[col_list]
model_df.head()

,Year,Month,Day_of_Week,Hour,Primary_Type,Latitude,Longitude,Location_Description,Police_Districts,Arrest
0,2019,9,1,23,WEAPONS VIOLATION,41.775402,-87.653178,RESIDENCE PORCH/HALLWAY,17,False
1,2019,9,1,23,BATTERY,41.880829,-87.752634,APARTMENT,25,True
2,2019,9,1,23,CRIMINAL DAMAGE,41.751657,-87.650131,RESIDENCE,20,False
3,2019,9,1,23,ASSAULT,41.899880,-87.748366,SIDEWALK,25,False
4,2019,9,1,23,BATTERY,41.919319,-87.758462,ALLEY,6,True

In [86]:
null_columns = model_df.columns[model_df.isnull().any()]
model_df[null_columns].isnull().sum()

Series([], dtype: float64)

In [52]:
model_df["Location_Description"].fillna("Unknown", inplace = True)

In [60]:
X = model_df.drop(['Primary_Type'], axis=1)
y = model_df['Primary_Type']

print(X.shape)
print(y.shape)

(2199538, 8)
(2199538,)

In [72]:
#encode string variables for input into the classification model:
encoded_X = pd.get_dummies(X, columns=['Location_Description', 'Police_Districts'])
print(encoded_X.shape)

(2199538, 194)

In [73]:
# create scaler
scaler = MinMaxScaler()
normalized_X = scaler.fit_transform(encoded_X)

/anaconda2/envs/LearnPython3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [74]:
X_train, X_test, y_train, y_test = train_test_split(normalized_X, y, test_size = 0.25, random_state = 21)

In [75]:
classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 42)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

print(accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred)) 
print(classification_report(y_test,y_pred))

0.44094310628585975
[[    24     15    352      0    206      0     24     95     11    333
       8]
 [     8   2501  20260      1   3401      4   1224   4318    851  13840
     157]
 [    19   4003  73862      4   8588     17   2389  11804   2449  27047
     350]
 [     0      3     18      9     11      0      6     12      1     42
       6]
 [    15   1556  23441      0  15079     11   4107   4557    624  26808
     249]
 [     2     17    262      0    157    327    102    131     27    246
       9]
 [     8    450   2784      0   4783     10   6281   3537    365  13226
     139]
 [     9   1168  11655      4   3473     12   2405  33524   1103   8786
     312]
 [     8    680   8258      0   1899     10   1115   4911   2830   8229
     108]
 [    21   2604  27082      8  10920     15   5056   6629   1669 107778
     240]
 [     3    328   3594      1    979      6    405   2115    262   1835
     253]]
                                   precision    recall  f1-score   support

                            ARSON       0.21      0.02      0.04      1068
                          ASSAULT       0.19      0.05      0.08     46565
                          BATTERY       0.43      0.57      0.49    130532
CONCEALED CARRY LICENSE VIOLATION       0.33      0.08      0.13       108
                  CRIMINAL DAMAGE       0.30      0.20      0.24     76447
                         HOMICIDE       0.79      0.26      0.39      1280
              MOTOR VEHICLE THEFT       0.27      0.20      0.23     31583
                        NARCOTICS       0.47      0.54      0.50     62451
                          ROBBERY       0.28      0.10      0.15     28048
                            THEFT       0.52      0.67      0.58    162022
                WEAPONS VIOLATION       0.14      0.03      0.04      9781

                        micro avg       0.44      0.44      0.44    549885
                        macro avg       0.36      0.25      0.26    549885
                     weighted avg       0.40      0.44      0.41    549885

In [76]:
#gradientboost performs poorly relative to randomforest

grad_class = GradientBoostingClassifier(learning_rate=0.1,n_estimators = 10, random_state = 42)
grad_class.fit(X_train, y_train)
y_pred_grad = grad_class.predict(X_test)

print(accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred)) 
print(classification_report(y_test,y_pred_grad))

0.44094310628585975
[[    24     15    352      0    206      0     24     95     11    333
       8]
 [     8   2501  20260      1   3401      4   1224   4318    851  13840
     157]
 [    19   4003  73862      4   8588     17   2389  11804   2449  27047
     350]
 [     0      3     18      9     11      0      6     12      1     42
       6]
 [    15   1556  23441      0  15079     11   4107   4557    624  26808
     249]
 [     2     17    262      0    157    327    102    131     27    246
       9]
 [     8    450   2784      0   4783     10   6281   3537    365  13226
     139]
 [     9   1168  11655      4   3473     12   2405  33524   1103   8786
     312]
 [     8    680   8258      0   1899     10   1115   4911   2830   8229
     108]
 [    21   2604  27082      8  10920     15   5056   6629   1669 107778
     240]
 [     3    328   3594      1    979      6    405   2115    262   1835
     253]]

/anaconda2/envs/LearnPython3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

                                   precision    recall  f1-score   support

                            ARSON       0.00      0.00      0.00      1068
                          ASSAULT       0.00      0.00      0.00     46565
                          BATTERY       0.44      0.50      0.47    130532
CONCEALED CARRY LICENSE VIOLATION       0.60      0.03      0.05       108
                  CRIMINAL DAMAGE       0.56      0.04      0.08     76447
                         HOMICIDE       1.00      0.25      0.39      1280
              MOTOR VEHICLE THEFT       0.00      0.00      0.00     31583
                        NARCOTICS       0.45      0.34      0.39     62451
                          ROBBERY       0.37      0.00      0.01     28048
                            THEFT       0.38      0.81      0.52    162022
                WEAPONS VIOLATION       0.00      0.00      0.00      9781

                        micro avg       0.40      0.40      0.40    549885
                        macro avg       0.35      0.18      0.17    549885
                     weighted avg       0.37      0.40      0.32    549885