In [1]:
import pandas as pd
import numpy as np
import csv

from sqlalchemy import create_engine

In [2]:
import os
import json
from config import password

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

app.config["SQLALCHEMY_DATABASE_URI"] = "postgresql+psycopg2://postgres:{password}@localhost:5432/crime_db"
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(app)
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# prepare to load the entire chicago table into a dataframe
Chicago_Metadata = Base.classes.chicago
stmt = db.session.query(Chicago_Metadata).statement
df = pd.read_sql_query(stmt, db.session.bind)
print("Loaded dataframe successfully...")

# Filter dataframe by certain crime types
crime_types = ['THEFT', 'BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT', 
    'MOTOR VEHICLE THEFT', 'ROBBERY', 'WEAPONS VIOLATION', 'CONCEALED CARRY LICENSE VIOLATION', 'HOMICIDE', 'ARSON']
filtered_df = df[df.Primary_Type.isin(crime_types)]

Loaded dataframe successfully...

In [3]:
len(filtered_df)

2199538

In [4]:
# Check date range
least_recent_date = filtered_df['Date'].min()
recent_date = filtered_df['Date'].max()
print(f'Start date: {least_recent_date} and Recent date: {recent_date}')

Start date: 2010-01-01 00:01:00 and Recent date: 2019-09-10 23:55:00

In [5]:
#start date 2017
start_date = '2017-01-01 00:01:00'
end_date = '2017-12-31 23:59:00'
mask = (filtered_df['Date'] > start_date) & (filtered_df['Date'] <= end_date)
filtered_crime_df_2017 = filtered_df.loc[mask]
filtered_crime_df_2017.head()

,index,ID,Date,Primary_Type,Description,Location_Description,Arrest,District,Year,Latitude,Longitude,Historical_Wards,Zip_Codes,Police_Districts
441988,447478,11192080,2017-12-31 18:00:00,ROBBERY,ARMED: HANDGUN,RESTAURANT,False,025,2017,41.908356,-87.746073,4,4299,6
442247,447284,11196379,2017-12-31 23:50:00,BATTERY,SIMPLE,MOVIE HOUSE/THEATER,False,019,2017,41.926559,-87.631294,51,4449,5
442248,447285,11192540,2017-12-31 23:48:00,THEFT,FROM BUILDING,HOTEL/MOTEL,False,018,2017,41.895751,-87.623496,22,21182,14
442249,447286,11192239,2017-12-31 23:45:00,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,012,2017,41.856427,-87.638893,8,21194,15
442250,447287,11192254,2017-12-31 23:45:00,BATTERY,AGGRAVATED: HANDGUN,RESIDENCE,False,005,2017,41.683369,-87.622830,30,21861,10

In [6]:
len(filtered_crime_df_2017)

201450

In [7]:
filtered_crime_df_2017.shape

(201450, 14)

In [8]:
crime_type = ['HOMICIDE']
homicide_df_2017 = filtered_crime_df_2017[filtered_crime_df_2017.Primary_Type.isin(crime_type)]

In [9]:
len(homicide_df_2017)

675

In [10]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint
coords = homicide_df_2017.as_matrix(columns=['Latitude', 'Longitude'])

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """

In [11]:
kms_per_radian = 6371.0088
epsilon = 1.5 / kms_per_radian
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 16

In [12]:
def get_centermost_point(cluster):
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return tuple(centermost_point)
centermost_points = clusters.map(get_centermost_point)

In [13]:
lats, lons = zip(*centermost_points)
homicide_rep_points_2017 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
homicide_rep_points_2017['Crime_type'] = 'HOMICIDE'
homicide_rep_points_2017['Year'] = '2017'

In [14]:
homicide_rep_points_2017

    Longitude   Latitude Crime_type  Year
0  -87.673449  41.807527   HOMICIDE  2017
1  -87.836624  41.975978   HOMICIDE  2017
2  -87.691020  41.995031   HOMICIDE  2017
3  -87.657908  41.966082   HOMICIDE  2017
4  -87.748224  41.957974   HOMICIDE  2017
5  -87.666165  42.007504   HOMICIDE  2017
6  -87.730447  41.749414   HOMICIDE  2017
7  -87.718163  41.965424   HOMICIDE  2017
8  -87.559299  41.653062   HOMICIDE  2017
9  -87.794069  41.773809   HOMICIDE  2017
10 -87.626921  41.843922   HOMICIDE  2017
11 -87.805722  41.930761   HOMICIDE  2017
12 -87.693814  41.969073   HOMICIDE  2017
13 -87.796655  41.972530   HOMICIDE  2017
14 -87.631183  41.925592   HOMICIDE  2017
15 -87.761196  41.975185   HOMICIDE  2017

In [15]:
crime_type = ['ARSON']
arson_df_2017= filtered_crime_df_2017[filtered_crime_df_2017.Primary_Type.isin(crime_type)]
len(arson_df_2017)

444

In [16]:
coords = arson_df_2017.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 29

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [17]:
centermost_points = clusters.map(get_centermost_point)

In [18]:
lats, lons = zip(*centermost_points)
arson_rep_points_2017 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
arson_rep_points_2017['Crime_type'] = 'ARSON'
arson_rep_points_2017['Year'] = '2017'

In [19]:
arson_rep_points_2017

    Longitude   Latitude Crime_type  Year
0  -87.670234  41.824084      ARSON  2017
1  -87.550781  41.654871      ARSON  2017
2  -87.756337  41.797674      ARSON  2017
3  -87.731232  41.775929      ARSON  2017
4  -87.638275  41.889069      ARSON  2017
5  -87.608155  41.829088      ARSON  2017
6  -87.536491  41.698212      ARSON  2017
7  -87.817613  41.999838      ARSON  2017
8  -87.720100  41.737625      ARSON  2017
9  -87.790603  41.784863      ARSON  2017
10 -87.748336  41.994020      ARSON  2017
11 -87.569838  41.710651      ARSON  2017
12 -87.682532  41.694868      ARSON  2017
13 -87.792479  41.952810      ARSON  2017
14 -87.792769  41.993708      ARSON  2017
15 -87.741529  41.754593      ARSON  2017
16 -87.870236  41.974020      ARSON  2017
17 -87.808427  41.937988      ARSON  2017
18 -87.669038  42.016030      ARSON  2017
19 -87.744418  41.808898      ARSON  2017
20 -87.707941  41.685708      ARSON  2017
21 -87.644305  41.937228      ARSON  2017
22 -87.657884  41.978839      ARSON  2017
23 -87.679204  41.969451      ARSON  2017
24 -87.609424  41.653606      ARSON  2017
25 -87.702874  42.016534      ARSON  2017
26 -87.576634  41.695482      ARSON  2017
27 -87.588742  41.799545      ARSON  2017
28 -87.769578  41.981714      ARSON  2017

In [20]:
crime_type = ['NARCOTICS']
narcotics_df_2017 = filtered_crime_df_2017[filtered_crime_df_2017.Primary_Type.isin(crime_type)]
len(narcotics_df_2017)

11475

In [21]:
coords = narcotics_df_2017.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 7

In [22]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
narcotics_rep_points_2017 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
narcotics_rep_points_2017['Crime_type'] = 'NARCOTICS'
narcotics_rep_points_2017['Year'] = '2017'
narcotics_rep_points_2017

   Longitude   Latitude Crime_type  Year
0 -87.695171  41.843282  NARCOTICS  2017
1 -87.905108  41.976496  NARCOTICS  2017
2 -87.558854  41.665815  NARCOTICS  2017
3 -87.545618  41.653677  NARCOTICS  2017
4 -87.714422  41.696273  NARCOTICS  2017
5 -87.907473  41.953900  NARCOTICS  2017
6 -87.755638  41.993143  NARCOTICS  2017

In [23]:
crime_type = ['THEFT']
theft_df_2017 = filtered_crime_df_2017[filtered_crime_df_2017.Primary_Type.isin(crime_type)]
len(theft_df_2017)

63575

In [24]:
coords = theft_df_2017.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 4

In [25]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
theft_rep_points_2017 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
theft_rep_points_2017['Crime_type'] = 'THEFT'
theft_rep_points_2017['Year'] = '2017'
theft_rep_points_2017

   Longitude   Latitude Crime_type  Year
0 -87.661464  41.863128      THEFT  2017
1 -87.903496  41.977791      THEFT  2017
2 -87.884013  41.957636      THEFT  2017
3 -87.914870  41.994301      THEFT  2017

In [26]:
crime_type = ['BATTERY']
battery_df_2017 = filtered_crime_df_2017[filtered_crime_df_2017.Primary_Type.isin(crime_type)]
len(battery_df_2017)

49128

In [27]:
coords = battery_df_2017.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 5

In [28]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
battery_rep_points_2017 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
battery_rep_points_2017['Crime_type'] = 'BATTERY'
battery_rep_points_2017['Year'] = '2017'
battery_rep_points_2017

   Longitude   Latitude Crime_type  Year
0 -87.667977  41.831514    BATTERY  2017
1 -87.900520  41.976800    BATTERY  2017
2 -87.887170  41.959441    BATTERY  2017
3 -87.904559  41.953684    BATTERY  2017
4 -87.906094  42.002816    BATTERY  2017

In [29]:
crime_type = ['ROBBERY']
robbery_df_2017 = filtered_crime_df_2017[filtered_crime_df_2017.Primary_Type.isin(crime_type)]
len(robbery_df_2017)

11870

In [30]:
coords = robbery_df_2017.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 5

In [31]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
robbery_rep_points_2017 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
robbery_rep_points_2017['Crime_type'] = 'ROBBERY'
robbery_rep_points_2017['Year'] = '2017'
robbery_rep_points_2017

   Longitude   Latitude Crime_type  Year
0 -87.665779  41.838932    ROBBERY  2017
1 -87.545917  41.653166    ROBBERY  2017
2 -87.840316  41.977430    ROBBERY  2017
3 -87.800240  41.791396    ROBBERY  2017
4 -87.914031  41.963529    ROBBERY  2017

In [32]:
crime_type = ['ASSAULT']
assault_df_2017 = filtered_crime_df_2017[filtered_crime_df_2017.Primary_Type.isin(crime_type)]
len(assault_df_2017)

19250

In [33]:
coords = assault_df_2017.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 6

In [34]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
assault_rep_points_2017 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
assault_rep_points_2017['Crime_type'] = 'ASSAULT'
assault_rep_points_2017['Year'] = '2017'
assault_rep_points_2017

   Longitude   Latitude Crime_type  Year
0 -87.667093  41.830485    ASSAULT  2017
1 -87.900984  41.976763    ASSAULT  2017
2 -87.545910  41.654917    ASSAULT  2017
3 -87.899009  42.005441    ASSAULT  2017
4 -87.927365  42.006074    ASSAULT  2017
5 -87.577845  41.673631    ASSAULT  2017

In [35]:
crime_type = ['MOTOR VEHICLE THEFT']
mvt_df_2017 = filtered_crime_df_2017[filtered_crime_df_2017.Primary_Type.isin(crime_type)]
len(mvt_df_2017)

11343

In [36]:
coords = mvt_df_2017.as_matrix(columns=['Latitude', 'Longitude'])
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

C:\Users\camov\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Number of clusters: 3

In [37]:
centermost_points = clusters.map(get_centermost_point)
lats, lons = zip(*centermost_points)
mvt_rep_points_2017 = pd.DataFrame({'Longitude':lons, 'Latitude':lats})
mvt_rep_points_2017['Crime_type'] = 'MOTOR VEHICLE THEFT'
mvt_rep_points_2017['Year'] = '2017'
mvt_rep_points_2017

   Longitude   Latitude           Crime_type  Year
0 -87.678185  41.848052  MOTOR VEHICLE THEFT  2017
1 -87.885098  41.981296  MOTOR VEHICLE THEFT  2017
2 -87.914870  41.994301  MOTOR VEHICLE THEFT  2017

In [38]:
total_cluster_df_2017 = pd.concat([homicide_rep_points_2017, arson_rep_points_2017, narcotics_rep_points_2017, theft_rep_points_2017, battery_rep_points_2017,
                     robbery_rep_points_2017, assault_rep_points_2017, mvt_rep_points_2017], ignore_index=True)

In [39]:
total_cluster_df_2017

    Longitude   Latitude           Crime_type  Year
0  -87.673449  41.807527             HOMICIDE  2017
1  -87.836624  41.975978             HOMICIDE  2017
2  -87.691020  41.995031             HOMICIDE  2017
3  -87.657908  41.966082             HOMICIDE  2017
4  -87.748224  41.957974             HOMICIDE  2017
5  -87.666165  42.007504             HOMICIDE  2017
6  -87.730447  41.749414             HOMICIDE  2017
7  -87.718163  41.965424             HOMICIDE  2017
8  -87.559299  41.653062             HOMICIDE  2017
9  -87.794069  41.773809             HOMICIDE  2017
10 -87.626921  41.843922             HOMICIDE  2017
11 -87.805722  41.930761             HOMICIDE  2017
12 -87.693814  41.969073             HOMICIDE  2017
13 -87.796655  41.972530             HOMICIDE  2017
14 -87.631183  41.925592             HOMICIDE  2017
15 -87.761196  41.975185             HOMICIDE  2017
16 -87.670234  41.824084                ARSON  2017
17 -87.550781  41.654871                ARSON  2017
18 -87.756337  41.797674                ARSON  2017
19 -87.731232  41.775929                ARSON  2017
20 -87.638275  41.889069                ARSON  2017
21 -87.608155  41.829088                ARSON  2017
22 -87.536491  41.698212                ARSON  2017
23 -87.817613  41.999838                ARSON  2017
24 -87.720100  41.737625                ARSON  2017
25 -87.790603  41.784863                ARSON  2017
26 -87.748336  41.994020                ARSON  2017
27 -87.569838  41.710651                ARSON  2017
28 -87.682532  41.694868                ARSON  2017
29 -87.792479  41.952810                ARSON  2017
..        ...        ...                  ...   ...
45 -87.695171  41.843282            NARCOTICS  2017
46 -87.905108  41.976496            NARCOTICS  2017
47 -87.558854  41.665815            NARCOTICS  2017
48 -87.545618  41.653677            NARCOTICS  2017
49 -87.714422  41.696273            NARCOTICS  2017
50 -87.907473  41.953900            NARCOTICS  2017
51 -87.755638  41.993143            NARCOTICS  2017
52 -87.661464  41.863128                THEFT  2017
53 -87.903496  41.977791                THEFT  2017
54 -87.884013  41.957636                THEFT  2017
55 -87.914870  41.994301                THEFT  2017
56 -87.667977  41.831514              BATTERY  2017
57 -87.900520  41.976800              BATTERY  2017
58 -87.887170  41.959441              BATTERY  2017
59 -87.904559  41.953684              BATTERY  2017
60 -87.906094  42.002816              BATTERY  2017
61 -87.665779  41.838932              ROBBERY  2017
62 -87.545917  41.653166              ROBBERY  2017
63 -87.840316  41.977430              ROBBERY  2017
64 -87.800240  41.791396              ROBBERY  2017
65 -87.914031  41.963529              ROBBERY  2017
66 -87.667093  41.830485              ASSAULT  2017
67 -87.900984  41.976763              ASSAULT  2017
68 -87.545910  41.654917              ASSAULT  2017
69 -87.899009  42.005441              ASSAULT  2017
70 -87.927365  42.006074              ASSAULT  2017
71 -87.577845  41.673631              ASSAULT  2017
72 -87.678185  41.848052  MOTOR VEHICLE THEFT  2017
73 -87.885098  41.981296  MOTOR VEHICLE THEFT  2017
74 -87.914870  41.994301  MOTOR VEHICLE THEFT  2017

[75 rows x 4 columns]

In [40]:
#save CSV
total_cluster_df_2017.to_csv("assets/data/clusters2017.csv", encoding="utf-8")